<?php $_uploads = $this->getMyUploads(); ?>
<div class="dashboard">
        <div class="page-title">
                <h1><?php echo $this->__('My Uploads') ?></h1>
        </div>
        <div class="pages-indent">
        	
        	<?php if ($_uploads->getSize() == 0):?>
        		<?php echo $this->__('No uploads available') ?>
        	<?php else: ?>
        	
        	<table class="data-table cart-table">
        	<thead>
        		<tr class="first last">
        			<th class="a-left"><?php echo $this->__('Order') ?></th>
        			<th class="a-left"><?php echo $this->__('Title') ?></th>
        			<th class="a-left"><?php echo $this->__('Document') ?></tdh>
        			<th class="a-left"><?php echo $this->__('Action') ?></tdh>
        		</tr>
        	</thead>
        	<tbody>
        	
        	<?php foreach ($_uploads as $upload ) : ?>
        		<?php $_id = $upload->getId(); ?>
        		<?php $_order = Mage::getModel("sales/order")->load($upload->getOrderId()); ?>
        		<?php $_configuratoroption = Mage::getModel("configurator/option")->load($upload->getOptionId()); ?>
        		<tr >
        		
        		<td valign="middle">
        			<?php echo $_order->getIncrementId(); ?>
        		</td>
        		
        		<td valign="middle">
        			<?php echo $_configuratoroption->getTitle(); ?>
        		</td>
        		<td>
        			<?php if ($upload->getFile()) :?>
        				<a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).Mage::getStoreConfig('fileuploader/general/mediapath')."/".$upload->getFile(); ?>">
							<img src="<?php echo $this->getUploadImage($upload->getFile()); ?>" alt="PDF Upload">
						</a>
					<?php else: ?>
						<?php echo $this->__('No document uploaded') ?>
        			<?php endif; ?>
        			
        		</td>
        		
        		<td>
        			<?php if ($upload->getStatus() == 0 &&  $this->getOrderState($upload) == "new") : ?>
        				<div class="file-wrapper" id="file-wrapper-<?php echo $_id ?>">
							<div class="file-wrapper1" id="file-wrapper1-<?php echo $_id ?>">
							<input name="<?php echo $this->getName() ?>"
								id="<?php echo $_id ?>"
								class="template-option"
								type="file" />
							</div>	
							<div class="file-wrapper2" id="file-wrapper2-<?php echo $this->getId() ?>" style="display:none"></div>
						</div>
						<script type="text/javascript">
						// <![CDATA[
						jQuery(document).ready(function() {
							var optionId = '<?php echo $upload->getOptionId() ?>';
							var jsTemplateId = '<?php echo $upload->getJsTemplateId() ?>'
							var optionFiletype = '<?php echo $_configuratoroption->getUploadFiletypes() ?>';
							var optionMaxsize = '<?php echo $_configuratoroption->getUploadMaxsize() ?>';
							var id = "<?php echo $_id ?>";
							var sessionId =  '<?php echo $upload->getSessionId(); ?>';
							var mimetypes = '<?php echo Mage::helper('configurator')->getMimetypArrayByOptionId($upload->getOptionId()) ?>';
							
							JustsellingUploadJsPhtml.initMyuploads(optionId, jsTemplateId, optionFiletype, optionMaxsize, id, sessionId, mimetypes);
						});
						// ]]>
						</script>
					<?php else: ?>
						<?php if ($upload->getStatus() == 1 && $this->getOrderState($upload) == "new") :?>
						<span id="remove-<?php echo $upload->getId(); ?>" style="cursor:pointer;color:#8A8A8A;text-decoration:underline"><?php echo $this->__('Remove Document') ?></span>
						<script type="text/javascript">
						// <![CDATA[
							jQuery('#remove-<?php echo $upload->getId(); ?>').click(function() {
  								if (confirm("<?php echo $this->__('Do you really want to delete the document?'); ?>")) {
  									location.href = "<?php echo $this->getBaseUrl(''); ?>configurator/upload/delete/id/<?php echo $upload->getId(); ?>";
  								}
							});
						// ]]>
						</script>
						<?php else: ?>
							<?php echo $this->__('No action available'); ?>
						<?php endif; ?>
        			<?php endif; ?>
        		</td>
        		
        		</tr>
        	<?php endforeach; ?>
        	</tbody>
        	</table>
        	
        	<?php endif; ?>
        	
 		</div>
</div>
