/* More Infos */
.configurator_options .more { white-space: nowrap; text-align: left; padding-right: 10px; background: url(../images/promo/morearrow.gif) no-repeat 100% 50%; color: #08C; margin-bottom:10px; margin-top:5px; cursor: pointer;
    background-image: url("data:image/gif;base64,R0lGODlhBwAEAJEAAACFze7u7gAAAAAAACH5BAkAAAIALAAAAAAHAAQAAAIIhA+CKWoNmSgAOw==");
}

.validation-passed { box-shadow: none !important; }

.configurator-loading { min-height: 250px; }

.configurator_options .more-info { width: auto; display: inline-block; }
.configurator_options .more-info li { margin-left: 15px; list-style-type: disc; }
.configurator_options .more-info ul { margin-bottom: 10px; }
.configurator_options .more-info div { margin-top: 10px; }

.configurator_options .detail-dt p { margin-bottom: 5px; }
.configurator_options { background-color: white; }

.none-group-wrapper { display: inline-block; padding: 5px; width: 100%; }
.group-wrapper {  }
.group-wrapper span { cursor:pointer; }
.group-wrapper .toggle-status { width:10px; height: 10px; background-image: url(../../../images/justselling/category-toggle.png); background-repeat: none; display: inline-block; background-position: 0 -10px;}
.group-wrapper-dt span { line-height:39px;  }
.group-wrapper dt {border-top: solid #C3C3C3 1px;background: url("../../../images/justselling/category-name.png") repeat-x 0 0; padding: 0px 9px; }
.group-wrapper .detail-dt { background-image: none; border-top: none;}
.group-wizard { float:right; padding: 5px 8px 5px 0; }
.group-wrapper-div { overflow: auto; }
#group-tabs{ margin-bottom: 10px; }

.option-details { overflow:hidden;position:relative; border-bottom: 1px solid #e4e4e4; padding: 5px; }
.option-details dl { overflow: hidden;  }
.option-details-img { float:left;padding:10px; }
.product-options .option-details dd { border-bottom: none;}
.option-detail-wrapper {  float:left; width: 100%; margin-bottom: 5px; }

.panes img.left{  padding: 0px 40px 0px 20px; }
.panes img.right{ padding: 0px 20px 0px 40px; }
.panes img.center{ padding: 10px 0px 40px 0px; }

.product-options, .product-options dd { padding-left: 0px; padding-right: 0px; }
.product-options { padding:0; }
.product-options > dl > dd { margin-bottom: 0; }
.product-options dd textarea { width: 98%; height: 65px; }
.product-options dd { padding-top: 0px; padding-bottom: 0px; }
.no-border dd { border: 0; }
.product-options .dd-static { padding-left: 9px; }
.product-options .dd-checkbox { display: inline; }

.configurator-overview {  padding: 10px 10px 10px 10px; display:block; }
.configurator-overview-content { }
.configurator-overview-heading { float:right; padding: 10px 0px;margin-bottom:10px;}
.configurator-overview-heading ul { display:inline; list-style: none; float:left; }
.configurator-overview-heading li { display:inline; padding-right: 8px; margin-right: 8px; border-right: solid #A5A5A5 1px;}
.configurator-overview-heading li.last { border:none; }

.listimage-thumb { cursor: pointer; }

.simple_overlay { display:none; color: white; z-index:10000; background-color:#333;  width:900px; min-height:600px; border:1px solid #666; -moz-box-shadow:0 0 90px 5px #000; -webkit-box-shadow: 0 0 90px #000; padding:10px; }
.simple_overlay .close { background-image:url(../../../images/justselling/close.png); position:absolute; right:-15px; top:-15px; cursor:pointer; height:35px; width:35px; }

.font-configuration { margin-top: 15px; height:20px; }
.font-select { margin-right: 20px;  }
.font-range { margin-right: 20px;  }
.font-conf-element { float: left; padding-top: 5px; }
.input-hidden { visibility: hidden: top: -1000px; left: -1000px; position: absolute;}

.progress { height:9px; background-color:#C5FF00; display:none; opacity:0.6; }
.handle { background:#fff repeat-x 0 0; height:10px; width:10px; top:-4px; position:absolute; display:block; margin-top:1px; border:1px solid #000; cursor:move; -moz-box-shadow:0 0 6px #000; -webkit-box-shadow:0 0 6px #000; -moz-border-radius:14px; -webkit-border-radius:14px; }
.range { border:1px inset #ddd; float:left; font-size:12px; margin:0 0 0 15px; padding:1px 0; text-align:center; width:40px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* tab pane styling */
.clearfix:after { content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.ieoverlay{ filter: alpha(opacity = 20); /* IE 6, 7, 8 */ -ms-filter: "alpha(opacity = 20)"; /* ab IE 8 zusätzlich möglich */ opacity: .20;  }

.optionvalue-tooltip { display: inline; }
.tooltip { display:none; background: #fff url(../../../images/justselling/category-name.png) repeat-x; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color:#000;z-index: 99999; border: 1px solid white; padding: 10px 15px; text-align: left; box-shadow: 0 0 10px black; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 10px black; }

.hideuplodifybutton { position: absolute; left: -99999px; }
.file-wrapper input { position: absolute; left: -99999px; }
.html5upload { position: relative; }
.file-wrapper input[type=file] { position: absolute; left: 0; top: 0; opacity: 0; }
.uploadifytag { background-image: url(../../../images/justselling/uploadifive-cancel.png); background-repeat: no-repeat; height: 14px; width: 14px; display: inline-block; background-position: 3px 0; }
.uploadifyimgwrapper { margin: 10px 10px 0 5px; float: left;}
.uploadifive-queue .error { display:none; }
.uploadifive-button { background-image: url(../../../images/justselling/blue_button_fix_de.png); color: transparent; cursor: pointer; }
.uploadifive-button input{ cursor: pointer; opacity: 1; display:block !important; width: 142px !important; height: 31px !important; }
.upload-overlay { display: none; }
.upload-overlay .inner-bg { position:fixed; top:0px; left:0; height: 100%; width: 100%; overflow: hidden; z-index: 99998; background: #666; opacity:0.5;cursor: pointer; }
.upload-overlay .inner-content { position:fixed; margin:auto;background: white; top: 50%; left: 50%; width: 400px; height: 300px; margin-top: -150px; margin-left: -200px; z-index: 99999; border: 1px solid gray; border-radius: 5px; }
.upload-overlay .text { position: relative;padding: 30px 20px 20px 20px; }
.upload-overlay .close { position: absolute; right: 10px; top: 10px;cursor: pointer; }

.simple-box {position: fixed;  top: 50%; left: 50%; z-index: 1000; }
.simple-box { display:none; z-index: 20050; text-align:center; }
.simple-box {background: white; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #f4f3f3; padding: 15px;}
.loading-overlay { display:none; z-index:10000; color: black; text-align: center; vertical-align: middle; background-color:#fff; width:300px; min-height:100px; -moz-border-radius:5px; border: 1px solid #f4f3f3; padding: 10px; }
.configurator-space { min-height: 250px; }
.validation-advice { background: none; padding-left: 0px; }

textarea.placeholder { color: #999; }
label.disabled { color: #999; }

.selectimage-image { margin-top: 5px;}

.overlayimage-overlay {}
.overlayimage-img { cursor: pointer; border: 1px solid #e4e4e4; }
.overlayimage-overlay { position: fixed;  top: 50%; left: 50%; z-index:25000; color: black; text-align: center; vertical-align: middle; background-color:#fff; min-height:100px; border-radius: 5px; -moz-border-radius:5px; border: 1px solid #f4f3f3; padding: 10px; }
.overlayimage-overlay { overflow-y: scroll; }
.overlayimage-overlay ul li { float:left; padding-right: 5px; }
.overlayimage-overlay ul li.disabled { opacity: 0.3; }
.overlayimage-overlay ul li.disabled .overlayimage-img { cursor: default; }

.block-summary { font-size: 11px; line-height: 1.25;}
.block-summary .disable { display: none; }
.block-summary .block-content span.option { display: block; }
.block-summary .block-content span.label { font-weight: bold; }
.block-summary .block-content .price-box { margin-right: 5px; }
.block-summary .block-content .add-to-cart { margin-top: 5px; line-height: 25px; }

