<?php $_productCollection = Mage::getModel('catalog/category')->getProductCollection()->addAttributeToSelect('*')->addAttributeToFilter('status', array('eq' =>'1')); ?>
<div class="category-products">
    <?php $_iterator = 0; ?>
    <ul id="products-list">
    <?php 
        foreach ($_productCollection as $_product):
            $productType = $_product->getTypeID();
            if($productType == Mage_Catalog_Model_Product_Type::TYPE_VIRTUAL)
                continue;
        
            $categoryIds = $_product->getCategoryIds();
            $skipProduct = FALSE;
            foreach ($categoryIds as $cid) {
                $category = Mage::getModel('catalog/category')->load($cid);
                if($category->getName() == "Zubehör") {
                    $skipProduct = TRUE;
                    break;
                }                    
            }
            if($skipProduct)
                continue;
            
            $finalPrice = $this->helper('tax')->getPrice($_product, $_product->getFinalPrice());
            $productId = $_product->getId();
    ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>" id="product-item-<?php echo $productId ?>">
            <?php 
                $_productNameStripped = $this->stripTags($_product->getName(), null, true); 
                $formattedPrice = Mage::helper('core')->currency($finalPrice, true, false);
            ?>
            <div class="item-wrapper">
                <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"><img
                    data-min-width-321="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(340); ?>"
                    src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(138); ?>"
                    alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <div class="item-overlay" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
                    <div class="item-overlay-info">
                        <div class="item-overlay-product-name"><?php echo $_productNameStripped; ?></div>
                        <div class="item-overlay-product-price"><?php echo $formattedPrice; ?></div>
                        <div class="item-overlay-product-configurate">
                            <a href="<?php echo $_product->getProductUrl() ?>"><img
                                
                                src="<?php echo $this->getSkinUrl('images/layout/catalog/product-list-item-configurate.png'); ?>"
                                alt="Konfigurieren"></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
</div>
