<div class="page-header"><span>Sofort lieferbar</span></div>

<?php
function prettify($string) {
    if(!strlen($string))
        return '';
        
    $temp = $string;
    $temp = str_replace('ue', 'ü', $temp);
    $temp = str_replace('ae', 'ä', $temp);
    $temp = str_replace('oe', 'ö', $temp);
    $temp[0] = strtoupper($temp[0]);
    
    return $temp;
}

function uglyfiy($string) {
    if(!strlen($string))
        return '';
        
    $temp = $string;
    $temp = str_replace('ü', 'ue', $temp);
    $temp = str_replace('ä', 'ae', $temp);
    $temp = str_replace('ö', 'oe', $temp);
    $temp = str_replace(' ', '_', $temp);
    
    return strtolower($temp);
}

function resizeMatrixImage($image, $template_name, $config_options, $width, $height = NULL) {
    if($height === NULL)
        $height = $width;
    
    $imageFileRoot = Mage::getBaseDir('media') . DS . 'yourchair' . DS;
    $imageUrlRoot = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'yourchair' . DS;    
    $imageFile = $imageFileRoot . $template_name . DS . $image;
    
    $imageResizedName = 'resized' . DS . uglyfiy($template_name) . '_' . $width . 'x' . $height . '_';
    foreach($config_options as $value)
        $imageResizedName .= strtolower(uglyfiy($value)) . '_';
    $imageResizedName .= str_replace(' ', '_', strtolower($image));
    
    $imageResizedUrl = $imageUrlRoot . $imageResizedName;
    $imageResizedFile = $imageFileRoot . $imageResizedName;
    if (!file_exists($imageResizedFile) && file_exists($imageFile)) {
        $imageObj = new Varien_Image($imageFile);
        $imageObj->constrainOnly(TRUE);
        $imageObj->keepAspectRatio(TRUE);
        $imageObj->keepFrame(FALSE);
        $imageObj->resize($width, $height);
        $imageObj->save($imageResizedFile);
    }
    return $imageResizedUrl;
}

function getCustomOptionsData($template_name, $config_options) {
    $resource = Mage::getSingleton('core/resource');
    $readConnection = $resource->getConnection('core_read');
    
    $tableName = $resource->getTableName('configurator_template');
    $query = "SELECT `id` FROM `{$tableName}` WHERE (`title` = '{$template_name}')";
    $query_data = $readConnection->fetchAll($query);
    $templateId = $query_data[0]['id'];
    if(!$templateId)
        return 0;
    
    $price = 0;
    
    $tableName = $resource->getTableName('configurator_option');
    $query = "SELECT `alt_title`, `id` FROM `{$tableName}` WHERE (`template_id` = '{$templateId}')";
    $options_data = $readConnection->fetchAll($query);
    foreach($options_data as $index => $row) {
        foreach($config_options as $key => $value) {
            if($row['alt_title'] == $key) {
                $options_data[$index]['value'] = $value;
                break;
            }
        }
    }
    
    foreach($options_data as $index => $row) {
        $tableName = $resource->getTableName('configurator_option_value');
        $query = "SELECT `id`, `price` FROM `{$tableName}` WHERE (`option_id` = '{$row['id']}') AND (`value` = '{$row['value']}')";
        $query_data = $readConnection->fetchAll($query);
        $options_data[$index]['option_value_id'] = $query_data[0]['id'];
        $options_data[$index]['price'] = $query_data[0]['price'];
    }
    
    return $options_data;
}
    
function getOptionsPrice($options_data) {
    foreach($options_data as $row) {
        $price += $row['price'];
    }
    
    return $price;
}
?>

<?php $_productCollection = Mage::getModel('catalog/category')->getProductCollection()->addAttributeToSelect('*')->addAttributeToFilter('status', array('eq' =>'1')); ?>
<?php
    $resource = Mage::getSingleton('core/resource');
    $readConnection = $resource->getConnection('core_read');
    $tableName = $resource->getTableName('configurator_matrix');
    $query = "SELECT * FROM `{$tableName}` WHERE (`delivery_time` = '') OR (`delivery_time` = NULL) ORDER BY `template_name` ASC";
    $query_data = $readConnection->fetchAll($query);    
?>
<div class="category-products">
    <?php $_iterator = 0; ?>
    <ul class="products-list" id="products-list">
    <?php
        foreach($query_data as $key => $value) {
            $templateName = $value['template_name'];
            $product_options = $value;
            unset($product_options['id']);
            unset($product_options['template_name']);
            unset($product_options['image_front']);
            unset($product_options['image_back']);
            unset($product_options['delivery_time']);
            foreach($product_options as $value_key => $value_data) {
                if(!$value_data)
                    unset($product_options[$value_key]);                    
            }
            $optionsData = getCustomOptionsData($templateName, $product_options);
            $optionsPrice = getOptionsPrice($optionsData);
            foreach ($_productCollection as $_product) {
                $productName = $_product->getName();
                if($templateName == $productName) {
                    $productId = $_product->getId();
                    $tempPrice = $_product->getFinalPrice() + $optionsPrice;
                    $finalPrice = $this->helper('tax')->getPrice($_product, $tempPrice);
                
    ?>
        <li class="item" id="product-item-<?php echo $productId ?>">
            <?php 
                $_productNameStripped = $this->stripTags($_product->getName(), null, true); 
                $formattedPrice = Mage::helper('core')->currency($finalPrice, true, false);
            ?>
            <div class="item-wrapper">
                <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"><img
                    data-min-width-321="<?php echo resizeMatrixImage($value['image_front'] . '.jpg', $value['template_name'], $product_options, 340); ?>"
                    src="<?php resizeMatrixImage($value['image_front'] . '.jpg', $value['template_name'], $product_options, 138); ?>"
                    alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <div class="item-overlay" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
                    <div class="item-overlay-info">
                        <div class="item-overlay-product-name"><?php echo $_productNameStripped; ?></div>
                        <div class="item-overlay-product-price"><?php echo $formattedPrice; ?></div>
                        <div class="item-overlay-product-configurate">
                            <a href="<?php echo $_product->getProductUrl() ?>"><img 
                                src="<?php echo $this->getSkinUrl('images/layout/catalog/product-list-item-configurate.png'); ?>"
                                alt="Konfigurieren"></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="item-info">
                <div class="info">
                    <h2><?php echo $_productNameStripped; ?></h2>                    
                    <dl class="item-configuration">
                        <dt><strong>Konfiguration</strong></dt>
                        <?php
                            foreach($product_options as $value_key => $value_data) {
                        ?>
                            <dd><div><?php echo prettify($value_key) ?></div><?php echo $value_data ?></dd>
                        <?
                            }
                        ?>
                    </dl>
                </div>
                <div class="cart">
                    <p class="price"><?php echo $formattedPrice; ?><br></p>
                    <!--<p><?php 
                        $jsTemplateId = Mage::registry("js_template_id");
                        echo "option-{$productId}-{$js_template_id}-template-<br>\n";                        
                    ?></p>
                    <pre><?php print_r($optionsData); ?> </pre>-->
                    <form action="<?php echo $this->helper('checkout/cart')->getAddUrl($_product); ?>" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="product" value="<?php echo $productId; ?>" />
                        <?php $jsTemplateId = Mage::registry("js_template_id"); ?>
                        <?php foreach($optionsData as $option): ?>
                            <input type="hidden" name="options[<?php echo $productId; ?>][<?php echo $jsTemplateId; ?>][template][<?php echo $option['id']; ?>]" value="<?php echo $option['option_value_id']; ?>">
                        <?php endforeach; ?>
                        <button>In den Warenkorb</button>
                    </form>
                </div>                
                <!--<pre><?php print_r($value) ?></pre>-->
            </div>
        </li>
    <?
                }
            }
        }
    ?>
    </ul>
</div>