<?php
    $cart_count = (int)$this->helper('checkout/cart')->getSummaryCount();
    $currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $pageID = Mage::getSingleton('cms/page')->getIdentifier();
    $isLoginPage = (!$pageID && (strpos(strtolower($currentUrl), 'customer/account/login')));
    $isCartPage = (!$pageID && (strpos(strtolower($currentUrl), 'checkout/cart')));
    $isCustomerPage = (!$pageID && !$isLoginPage && (strpos(strtolower($currentUrl), 'customer/account')));
?>
<div id="top_navigation">
    <ul class="top-navigation">
        <li class="about_us border-right <?php echo $pageID == 'ueber-uns' ? 'active' : ''; ?>"><a href="/ueber-uns">&Uuml;ber uns</a></li>
        <li class="showroom border-right <?php echo $pageID == 'showroom' ? 'active' : ''; ?>"><a href="/showroom">Showroom</a></li>

        <li class="header_cart border-left <?php echo $isCartPage ? 'active' : ''; ?>" id="cart-hover">
            <div class="responsive-wrapper" data-min-width-556='<a href="<?php echo $this->getUrl('checkout/cart'); ?>">Warenkorb</a> (<?php echo $cart_count ?>)'>
                <img src="<?php echo $this->getSkinUrl('images/icon-cart.png') ?>" alt="">
            </div>
        </li>
        <li class="login border-left <?php echo $isLoginPage || $isCustomerPage ? 'active' : ''; ?>">
            <div class="responsive-wrapper" data-min-width-556='<?php if($this->helper('customer')->isLoggedIn()): ?><a href="/customer/account">Konto</a><?php else: ?><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>">Login</a><?php endif; ?>'>
                <a href="<?php if($this->helper('customer')->isLoggedIn()) echo "/customer/account"; else echo $this->helper('customer')->getLoginUrl(); ?>">
                    <img src="<?php echo $this->getSkinUrl('images/icon-login.png') ?>" alt="<?php echo $this->helper('customer')->isLoggedIn() ? 'Kundenbereich': 'Anmelden'; ?>" title="<?php echo $this->helper('customer')->isLoggedIn() ? 'Kundenbereich': 'Anmelden'; ?>">
                </a>
            </div>
        </li>
    </ul>
</div>
<div id="cart-overlay">
    <?php echo $this->getChildHtml('cart_sidebar'); ?>
</div>
