<div id="perfect-chair-form">
    <div class="header">
        Der perfekte Stuhl
        <div class="close"><a href="#"><img src="/skin/frontend/wexim/default/images/perfect-chair-close-button.png"></a></div>
    </div>
    <div class="description">Sagen Sie uns was Ihnen wichtig ist und wir melden uns mit einem auf Sie abestimmten Vorschlag zur&uuml;ck.</div>
    
    <div class="selection">
        <div class="unimportant">unwichtig</div>
        <div class="important">wichtig</div>
    </div>
    <div class="selection">
        <div class="label">Design</div>
        <div class="slider"></div>
    </div>
    <div class="selection">
        <div class="label">Ergonomie</div>
        <div class="slider"></div>
    </div>
    <div class="selection">
        <div class="label">Farbe</div>
        <div class="slider"></div>
    </div>
    <div class="selection">
        <div class="label">Lieferzeit</div>
        <div class="slider"></div>
    </div>
    <div class="selection">
        <div class="label">Budget</div>
        <div class="slider"></div>
    </div>
    
    <div class="bottom">
        <div class="personal">
            <img src="/skin/frontend/wexim/default/images/maximo-muster.png">
            <p>Maximo Muster</p>
            Berater
        </div>
        <div class="contact-form-container">
            M&ouml;chten Sie eine pers&ouml;nliche Beratung? Dann sagen Sie uns wie unsere Experten Sie erreichen k&ouml;nnen.
            <br><br>
            <div class="contact-input"><input type="text" name="contact_email" value="" placeholder="E-MAIL"></div>
            <div class="contact-input"><input type="text" name="contact_phone" value="" placeholder="TELEFON"></div>
        </div>
        <div class="submit">
            <a href="#"><img src="/skin/frontend/wexim/default/images/perfect-chair-submit-button.png"></a>
        </div>
    </div>
    
    <div class="thank-you">
        <div class="header">
            Der perfekte Stuhl
            <div class="close"><a href="#"><img src="/skin/frontend/wexim/default/images/perfect-chair-close-button.png"></a></div>
        </div>
        <h1>Vielen Dank!</h1>
        <p>Ihre Anfrage ist bei uns angekommen. Unsere Mitarbeiter setzen sich umgehend mit Ihnen in Verbindung.</p>
        <div class="personal">
            <img src="/skin/frontend/wexim/default/images/maximo-muster.png">
            <p>Maximo Muster</p>
            Berater
        </div>
        <div class="close">
            <a href="#"><img src="/skin/frontend/wexim/default/images/perfect-chair-return-button.png"></a>
        </div>
    </div>
</div>
