<?php $_product = $this->getProduct() ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>

<!--
<ul class="add-to-links">
    <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <li><a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
    <?php endif; ?>
    <?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
    ?>
    <?php if($_compareUrl) : ?>
        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
    <?php endif; ?>
    <?php if (sizeof($_product->getOptions()) && $_listUrl = $this->helper('configurator/list')->getAddUrl($_product)): ?>
        <li><span class="separator">|</span> <a href="<?php echo $_listUrl?>" class="configurator_list" onclick="return configurator_add_to_list(this.href)"><?php echo $this->helper('configurator')->__('Add to My Configurations') ?></a></li>
    <?php endif; ?>
</ul>
<input type="hidden" name="list_next" value="<?php echo $this->getRequest()->getParam('list_next')?>"> 
-->

<script>
function configurator_add_to_list(link){
    var form = $('product_addtocart_form');
    if (form){
    	form.action = link;
        productAddToCartForm.submit();  
    }
    else
        document.location.href = link;
        
    return false;
}
</script>
