
<div class="block block-list block-summary">
    <div class="block-title">
        <strong>
            <span>
                <?php echo $this->__("Your configuration") ?>
            </span>
        </strong>
    </div>
    <div class="block-content">
            <p class="empty no-configuration">
               <?php echo $this->__("No configuration yet"); ?>
            </p>
            <p class="empty configuration"></p>
            <div class="prices disable product-options-bottom">
                <?php echo $this->getChildHtml("prices"); ?>
                <?php echo $this->getChildHtml("summary-addtocart"); ?>
            </div>
    </div>
</div>

<script>
    jQuery(".product-essential .product-options-bottom .price-box").remove();
    jQuery(".product-essential .product-options-bottom .tax-details").remove();
    jQuery(".block-summary input.qty").attr("id","qty-2");
    jQuery("#qty-2").change(function(event) {
        jQuery("#qty").val(jQuery(this).val());
    });
    jQuery("#qty").change(function(event) {
        jQuery("#qty-2").val(jQuery(this).val());
    });
    jQuery(document).on('change', ".template-option", function(event) {
        Configuration.updateSummary(jQuery(this).attr("id"));
    });
</script>