body {
    font-family: Courier New;
    font-size: 12px;
    padding: 10px;
}

table {
    width: 100%;
    border: 1px solid #ccc;
}

table thead {
    font-weight: bold;
}

table td:first-child {
    text-align: right;
}

table th,
table td {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table thead th {
    border-top: none;
}

table th:last-child,
table td:last-child {
    border-right: none;
}

table tr:nth-child(odd) td {
    background-color: #eee;
}

input {
    font-family: Courier New;
    border: 1px solid #888;
}

#footer,
#header,
#view-content {
    width: 1350px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

#footer p {
    text-align: right;
    font-size: 11px;
    color: #aaa;
}

#footer a {
    color: #aaa;
    text-decoration: none;
}

#footer a:hover {
    color: #bbb;
    text-decoration: underline;
}

.note {
    text-align: right;
}

.vertical-tabs {
    margin: auto;
    width: 100%;
    height: 100%;
}

.table-data {
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
}

.row {
    display: table-row;
    overflow: hidden;
    width: inherit;
    height: 20px;
}

.row.header {
    height: 12px;
    font-weight: bold;
    font-size: 13px;
    background-color: #eee;
}

.row.footer {
    background-color: #ccc;
}

.row.footer > div {
    padding-left: 46px;
    width: auto;
}

.table-data form:nth-child(odd) {
    background-color: #eee;
}

.row > div {
    display: table-cell;
    float: left;
    height: inherit;
    width: 160px;
    padding: 4px;
}

.row > div.button {
    width: auto;
}

.row.footer > div > input[type="text"] {
    width: 30px;
    text-align: center;
}

.row:not(.footer) > div > input[type="text"] {
    width: 140px;
}

.row:not(.footer) > div:first-child {
    width: 30px;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
}

.row > div.separator {
    width: 20px;
    margin-top: 2px;
}

.new-rows {
    text-align: left !important;
}

.new-rows input[type="text"] {
    width: 40px;
    text-align: center;
}

.new-rows input[type="button"] {
    font-weight: bold;
}