.vertical-tabs > ul > li {
    width: 110px;
    height: auto;
    background-color: #eee;
    list-style-type: none;
    display: block;
    text-align: left;
    margin: auto;
    padding: 8px;
    padding-bottom: 10px;
    border: 1px solid #fff;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.vertical-tabs li:hover {
    background-color: #fff;
}
.vertical-tabs > ul > li.selected {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    border: 1px solid #ddd;
    border-right: none;
    z-index: 10;
    background-color: #fff;
    position: relative;
}
.vertical-tabs > ul {
    float: left;
    width: 110px;
    text-align: left;
    display: block;
    margin: auto 0;
    padding: 0;
    position: relative;
    top: 0;
}
.vertical-tabs > div {
    background-color: #fff;
    margin-left: 126px;
    border: 1px solid #ddd;
    min-height: 500px;
    padding: 12px;
    position: relative;
    z-index: 9;
    min-height: 600px;
    -moz-border-radius: 20px;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
}
.vertical-tabs > div > h4 {
    color: #800;
    font-size: 1.2em;
    border-bottom: 1px dotted #800;
    padding-top: 5px;
    margin-top: 0;
}