.vertical-tabs > ul > li.selected{
    border-right: 1px solid #fff !important;
}
.vertical-tabs > ul > li {
    border-right: 1px solid #ddd !important;
}
.vertical-tabs > div { 
    z-index: -1 !important;
    left:1px;
}