<?php echo $this->__('Payed with BillSAFE.'); ?>
<?php if ($this->isBillsafeCancelled()): ?>
    <p><?php echo $this->__('Billsafe payment was cancelled.') ?></p>
<?php else: ?>
    <p><?php echo $this->__('Die Forderung ist im Rahmen eines laufenden Factoringvertrages an die BillSAFE GmbH abgetreten. Die Zahlungen müssen deshalb direkt an die BillSAFE GmbH geleistet werden.') ?></p>
    <?php if ($this->hasBillsafeData()): ?>
        <div>
            <style type="text/css">
                .form-list td.label label { width: auto; vertical-align: top } 
                .form-list td {vertical-align: top; padding: 3px; }
            </style>
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Note') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getNote()) ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <?php endif; ?>
<?php endif; ?>
