<?php $_list = $this->getList(); ?>
<?php if ($this->getTitle()): ?>
<div class="page-head button-level">
	<h3><?php echo $this->getTitle() ?></h3>
</div>
<?php endif; ?>
<?php 
	$message = $this->getMessagesBlock()->getGroupedHtml();
	$message = str_replace("&lt;", "<", $message);
	$message = str_replace("&gt;", ">", $message);
	$message = str_replace('"""', "", $message);
	echo $message;
?>

<?php if (Mage::getStoreConfig ( "productconfigurator/list/multifolder" )): ?>
<form
	action="<?php echo $this->getUrl('*/*/save', array('id'=>$_list->getId())) ?>"
	method="post" id="form-validate">
	<input name="form_key" type="hidden"
		value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
	<fieldset class="group-select">
		<ul>
			<li>
				<div class="input-box">
					<input type="text" name="title"
						value="<?php echo $this->htmlEscape($_list->getTitle()) ?>"
						title="<?php echo $this->__('Name') ?>"
						class="required-entry input-text" id="title" />
					<button class="button" type="submit">
						<span><span><?php echo $this->__('Save Folder Name') ?></span></span>
					</button>
				</div>
			</li>
		</ul>
	</fieldset>
</form>
<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);

//]]>
</script>
<?php endif; ?>


<script type="text/javascript">

if(jQuery('.success-msg ul li').size > 0){
	jQuery('.success-msg ul').find('li').each(function(){
		 var current = jQuery(this);
		 var html = current.html();
		 var edithtml = html.replace('"""', '');
		 liHtml = liHtml + '<li>' + edithtml + '</li>';
	});
	jQuery('.success-msg ul li').remove();
	jQuery('.success-msg ul').append(liHtml);
}
</script>