<?php $order = $this->getOrder() ?>
<?php $payment = $order->getPayment() ?>
<?php $payment_method = $payment->getMethod() ?>

<?php $messages = Mage::getSingleton("adminhtml/session")->getMessages(false); ?>
<?php $messages2 = Mage::getSingleton("core/session")->getMessages(false); ?>
<?php $msgBlock = $this->getMessagesBlock(); #->getGroupedHtml() ?>

<?php if ($payment_method == "billsafe"): ?>
    <?php $token = $payment->getLastTransId(); ?>
    <?php $additionalInformation = $payment->getAdditionalInformation(); ?>        
    <?php $transaction_id = str_replace("BTN ", "", $additionalInformation["Reference"]); ?>
    <?php $base_url = Mage::getUrl("billsafe/payment/"); ?>

    <div class="entry-edit-head">
        <h4><?php echo $this->__("Report direct payment") ?></h4>
    </div>

    <div class="fieldset">
        <form action="<?php echo $base_url; ?>reportdirectpayment" method="GET">            
            <input type="hidden" name="token" value="<?php echo $transaction_id ?>" />
            <input type="hidden" name="order_id" value="<?php echo $order->getId(); ?>" />

            <table class="form-list">
                <tr>
                    <td class="label">
                        <?php echo $this->__("Amount") ?><br/>
                    </td>
                    <td class="value">
                        <input type="text" name="amount" value="0.00" />
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <?php echo $this->__("Date of incoming") ?>
                    </td>
                    <td class="value">
                        <input type="text" name="date" value="<?php echo date("Y-m-d", time()); ?>" />
                    </td>
                </tr>
                <tr>
                    <td class="label">

                    </td>
                    <td class="value">
                        <input type="submit" name="btnSubmitReportDirectPayment" value="<?php echo $this->__("Report direct payment") ?>" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="entry-edit-head">
        <h4><?php echo $this->__("Pause Transaction") ?></h4>
    </div>

    <div class="fieldset">
        <form action="<?php echo $base_url; ?>pausetransaction" method="GET">
            <input type="hidden" name="token" value="<?php echo $transaction_id ?>" />
            <input type="hidden" name="order_id" value="<?php echo $order->getId(); ?>" />

            <table class="form-list">
                <tr>
                    <td class="label">
                        <?php echo $this->__("Days") ?> (1-10)
                    </td>
                    <td class="value">
                        <input type="text" name="amount" value="1" />
                    </td>
                </tr>
                <tr>
                    <td class="label">

                    </td>
                    <td class="value">
                        <input type="submit" name="btnSubmitReportDirectPayment" value="<?php echo $this->__("Pause Transaction") ?>" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
<?php else: ?>
    <div class="entry-edit-head">
        <h4><?php echo $this->__("No Billsafe Order"); ?></h4>
    </div>

    <div class="fieldset">
        <?php echo $this->__("This Order was not payed with billsafe"); ?>
    </div>
<?php endif ?>
