.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.admin_overlay {
	display: none;
	width: 800px;
	height: 540px;
	background-color: #fff;
	border: 10px solid #CDDDDD;
	border: 10px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 10px;
}

.admin_overlay .multiselect {
	width: 250px;
	height: 80px
}

.admin_overlay .close {
	background-image: url(../../images/justselling/close.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.admin_overlay .move {
	cursor: pointer;
	width: 100px;
	margin: 2px;
}

.admin_overlay .move-right {
	
}

.admin_overlay .move-left {
	
}

.admin_overlay .new-color span,.admin_overlay .new-position span {
	margin-bottom: 5px;
}

.image-wrapper {
	float: left;
	margin: 0 10px 10px 0;
}

.image-wrapper img, .image-wrapper a{
	display:block;
}