<div id="view-content">
<h2>Wählen Sie ein Produkt:</h2>
<p class="note"><em>Hinweis: Die Daten der Einträge werden automatisch in der Datenbank aktualisiert, sobald ein Feld verlassen oder im Feld die [RETURN]-Taste gedrückt wird.</em></p>
<div id="template-list" class="vertical-tabs">
    <ul>
    <?php foreach($this->entries as $entry): ?>
        <li><?php echo $entry->getTitle(); ?></li>
    <?php endforeach; ?>
    </ul>
    <?php foreach($this->entries as $entry): ?>
        <?php $hexTitle = bin2hex($entry->getTitle()); ?>
        <div>
            <div class="table-data">
                <div class="row header">
                    <div>&nbsp;</div>
                    <script type="text/javascript">
                        var options = new Object;
                        options.templateName = "<?php echo $entry->getTitle(); ?>";
                        options.columns = new Array();
                    </script>
                    <?php foreach($entry->getTemplateOptions() as $option): ?>
                        <div><?php echo $option->getTitle(); ?></div>
                        <script type="text/javascript">
                            <?php echo "options.columns.push('{$option->getAltTitle()}');"; ?>
                        </script>
                    <?php endforeach; ?>
                    <div class="separator">&nbsp;</div>
                    <div>Bild</div>
                    <div>Lieferzeit</div>
                    <div>&nbsp;</div>
                    <script type="text/javascript">
                        options.columns.push('image_front');
                        options.columns.push('delivery_time');
                        TEMPLATE_OPTIONS.push(options);
                    </script>
                </div>
                <?php $templateColumns = array(); ?>
                <?php foreach($entry->getTemplateData() as $index => $data): ?>
                    <form id="template[<?php echo $hexTitle; ?>]">
                        <div class="row">
                            <div><?php echo ($index + 1); ?></div>
                            <?php foreach($data->getData() as $key => $value): ?>
                                <div>
                                    <input type="text" name="<?php echo $key; ?>[<?php echo $hexTitle; ?>][<?php echo $data->getId(); ?>]" value="<?php echo $value; ?>">
                                </div>
                                <?php if(!$index) $templateColumns[] = $key; ?>
                            <?php endforeach; ?>
                            <div class="separator">&raquo;&raquo;&raquo;</div>
                            <div><input type="text" name="image_front[<?php echo $hexTitle; ?>][<?php echo $data->getId(); ?>]" value="<?php echo $data->getImage(); ?>"></div>
                            <div><input type="text" name="delivery_time[<?php echo $hexTitle; ?>][<?php echo $data->getId(); ?>]" value="<?php echo $data->getDeliveryTime(); ?>"></div>
                            <div class="button"><button id="remove_row[<?php echo $hexTitle; ?>][<?php echo $data->getId(); ?>]">Zeile löschen</button></div>
                        </div>
                    </form>
                <?php endforeach; ?>
                <div class="row footer">
                    <div><input type="text" name="new-rows-amount[<?php echo $hexTitle; ?>]" value="4"> neue Zeilen hinzufügen. <input type="button" name="add-new-rows[<?php echo $hexTitle; ?>]" class="new-rows-button" value="Los"></div>
                </div>
            </div>            
        </div>
    <?php endforeach; ?>
</div>
</div>