<?php echo $this->__('Payed with BillSAFE.'); ?>
<?php if ($this->isBillsafeCancelled()): ?>
    <?php echo $this->__('Billsafe payment was cancelled.') ?>
<?php else: ?>
    {{pdf_row_separator}}
    {{pdf_row_separator}}
    <?php echo $this->__('Die Forderung ist im Rahmen eines laufenden Factoringvertrages {{pdf_row_separator}} an die BillSAFE GmbH abgetreten. Die Zahlungen müssen deshalb{{pdf_row_separator}} direkt an die BillSAFE GmbH geleistet werden.') ?>
    {{pdf_row_separator}}
    {{pdf_row_separator}}
    <?php if ($this->hasBillsafeData()): ?>
            <?php echo $this->__('Recipient') ?>: <?php echo $this->getRecipient(); ?>
        {{pdf_row_separator}}
            <?php echo $this->__('Bank code') ?>: <?php echo $this->getBankCode() ?>
        {{pdf_row_separator}}
            <?php echo $this->__('Account Number') ?>: <?php echo $this->getAccountNumber() ?>
        {{pdf_row_separator}}
            <?php echo $this->__('Bank Name') ?>: <?php echo $this->getBankName() ?>
        {{pdf_row_separator}}
            <?php echo $this->__('BIC') ?>: <?php echo $this->getBic() ?>
        {{pdf_row_separator}}
            <?php echo $this->__('IBAN') ?>: <?php echo $this->getIban() ?>
        {{pdf_row_separator}}
            <?php echo $this->__('Reference') ?>: <?php echo $this->getReference() ?>
        {{pdf_row_separator}}
            <?php echo $this->__('Amount') ?>: <?php echo Mage::helper('core')->currency($this->getAmount()) ?>
        {{pdf_row_separator}}
            <?php echo $this->__('Note') ?>: <?php echo $this->getNote() ?>
    <?php endif; ?>
<?php endif; ?>
