<?php $_order = $this->getOrder(); ?>
<?php $uploads = Mage::getModel("configurator/upload")->getCollection();  ?>
<?php $uploads->addFieldToFilter('order_id',array('eq'=>$_order->getId())); ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('File Uploads'); ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
	    <?php if ($uploads->getSize()) : ?>
	    	<div class="grid">
		        <?php foreach ($uploads as $upload) : ?>
		        	<?php if ($upload->getFile()) :?>
			            <div class="image-wrapper">
			            	<a target="_blank" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).Mage::getStoreConfig('fileuploader/general/mediapath')."/".$upload->getFile(); ?>" >
			    				<img src="<?php echo $this->getSkinUrl("images/justselling/".Mage::helper('configurator')->getUploadImage($upload->getFile())); ?>" alt="PDF Upload" />
			    				<?php echo basename($upload->getFile()); ?>
				    		</a>
				    		<br/>
				    		<?php echo $this->__('Product name') ?>: <?php echo $upload->getProductName($upload) ?>
				    		<br/>
				    		<?php echo $this->__('Order position') ?>: <?php echo $this->getOrderItemPosition($upload->getOrderId(), $upload->getOrderItemId()); ?>
				    		<br/>
				    		<?php echo $this->__('Upload option') ?>: <?php echo $this->getOptionTitle($upload->getOptionId()); ?>
				    		<br/>
				    		<?php echo $this->__('Sku') ?>: <?php echo $upload->getProductSku($upload) ?>
			    		</div>
		    		<?php else: ?>
		    			<?php echo $this->__('No document uploaded') ?>
		        	<?php endif; ?>
		        <?php endforeach; ?>
	    		<div class="clearfix"></div>
	        </div>
	    <?php else: ?>
	    	<?php echo $this->__('No records found.'); ?>
	    <?php endif; ?>    
    </div>
</div>

<?php if ($this->hasSvgFiles($_order)) : ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('SVG Files'); ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
        <?php $files = $this->getSvgFiles($_order); ?>
        <?php if ($files->getSize()) : ?>
            <div class="grid">
                <?php foreach ($files as $file) : ?>
                    <p>
                        <?php echo $this->__('Product name') ?>: <?php echo $this->getProductName($file) ?>
                        <br/>
                        <?php echo $this->__('Order position') ?>: <?php echo $this->getOrderItemPosition($file->getOrderId(), $file->getOrderItemId()); ?>
                        <br>
                        <?php echo $this->__('Text') ?>: <?php echo $this->getFileContent($file) ?>,&nbsp;
                        <?php echo $this->__('Width') ?>: <?php echo $file->getWidth() ?>,&nbsp;
                        <?php echo $this->__('Height') ?>: <?php echo $file->getheight() ?>
                        <br/>
                        <a href="<?php echo $this->getDownloadUrl($file); ?>"><?php echo $this->__('Download file') ?></a>
                    </p>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <?php echo $this->__('No SVG Files available') ?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>