<?php
    if(($_products = $this->getProductCollection()) && $_products->getSize()) {
        $items = $this->getProductCollectionItems($_products);
        $showBestsellers = false;
        foreach ($items as $_product) {
            $helper = $this->helper('bestsellers/image')->init($_product);        
            $imageFile = $helper->resize(300);
            if($imageFile) {
                $showBestsellers = true;
            }
        }
        if(!$showBestsellers)
            return;
?>
<script type="text/javascript">
    //alert(configurator);
    var MAGE_JS_TEMPLATE_ID = configurator[0].jsid;
    var CURRENT_PRODUCT_ID = <?php echo $items[0]->getId(); ?>;
</script>
<div class="page-header"><span>Beliebteste Konfigurationen</span></div>
<div id="bestsellers">
    <div class="images">
        <ul class="items">
    <?php
        $row = 0;
        $productOptions = array();
        foreach ($items as $_product) {
            $helper = $this->helper('bestsellers/image')->init($_product);
            $imageFile = $helper->resize(300);
            if(!$imageFile)
                continue;
            $translatedOptions = $helper->getTranslatedOptions();            
            $productOptions[$row] = $translatedOptions;
            
            $options = $helper->getRawOptions();
            $options_url = "#?";
            $i = 0;
            $max = count($options);
            foreach($options as $key => $option) {
                $options_url .= $key . '=' . $option;
                $i++;
                if($i < $max)
                    $options_url .= '&';
            }
    ?>
        <li class="item-image-<?php echo $row; ?>">
            <a class="image" href="<?php echo $options_url ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>"><img class="item-image-<?php echo $row; ?>" src="<?php echo $imageFile ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
        </li>
    <?php
            $row++; 
        }
    ?>
        </ul>
    </div>
    <div class="options">
        <ul class="items">
    <?php
        $row = 0;
        foreach ($items as $_product) {
            $translatedOptions = $productOptions[$row];
            if(!$this->helper('bestsellers')->checkTranslatedOptionsIntegrity($translatedOptions))
                continue;
            $options_html = "<span class='item-name'>" . $_product->getName() . "</span> - ";
            $options_price = 0;
            foreach($translatedOptions as $option) {
                $options_html .= $option['value'] . " - ";
                $options_price += $option['price'];
            }
            $finalPrice = $this->helper('tax')->getPrice($_product, $_product->getFinalPrice() + $options_price);
            $formattedPrice = Mage::helper('core')->currency($finalPrice, true, false);        
    ?>
            <li class="item-configuration-<?php echo $row; ?>"><span><?php echo $options_html; ?>&nbsp;<span class="item-price"><?php echo $formattedPrice; ?></span></span></li>
    <?php
            $row++;
        }    
    ?>
        </ul>
    </div>
</div>
<?php
} 
?>
