<?php if ($this->isBillsafeCancelled()): ?>
    <p><?php echo $this->__('Billsafe payment was cancelled.') ?></p>
<?php else: ?>
    <?php $data = $this->getInfo(); ?>
    <?php $method = $data->getMethod(); ?>
    <?php if($method == AwHh_Billsafe_Model_Payment::CODE): ?>
        <p><?php echo $this->__('billsafe_forderung') ?></p>
    <?php elseif($method == AwHh_Billsafe_Model_Installment::CODE): ?>
        <p><?php echo $this->__('billsafe_forderung_rate') ?></p>
    <?php endif; ?>
    
    <?php if ($this->hasBillsafeData()): ?>
        <div>
            <style type="text/css">
                .form-list td.label label { width: auto; vertical-align: top } 
                .form-list td {vertical-align: top; padding: 3px; }
            </style>
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Recipient') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getRecipient()); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Bank code') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getBankCode()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Account Number') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getAccountNumber()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Bank Name') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getBankName()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('BIC') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getBic()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('IBAN') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getIban()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Reference') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getReference()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Amount') ?></label></td>
                        <td><?php echo Mage::helper('core')->currency($this->getAmount()) ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo $this->__('Note') ?></label></td>
                        <td><?php echo $this->htmlEscape($this->getNote()) ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <?php endif; ?>
<?php endif; ?>
