<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Wexim Configurator Matrix</title>
  <?php echo $this->headLink()
    ->appendStylesheet('./assets/css/global.css')
    ->appendStylesheet('./assets/css/vertical-tabs.css')
    ->appendStylesheet('./assets/css/vertical-tabs-ie7.css', 'screen', 'IE7')
    ->appendStylesheet('./assets/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') ?>
  <?php echo $this->headScript()
    ->appendFile('./assets/js/jquery-1.9.1.js', 'text/javascript')
    ->appendFile('./assets/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript')
    ->appendFile('./assets/js/jquery-vertical-tabs.js', 'text/javascript')
    ->appendFile('./assets/js/matrixcfg.js', 'text/javascript') ?>
</head>
<body>
<div id="header">
    <div id="header">
        <h1>YourChair Configurator Matrix</h1>
    </div>
</div>
 
<?php echo $this->layout()->content ?>
 
<div id="footer">
    <p>YourChair Configurator Matrix (1.0.2)</p>
</div>
</body>
</html>