<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>"/>
<title><?php echo htmlspecialchars(html_entity_decode($this->getTitle())) ?></title>
<link rel="icon" href="<?php echo $this->getSkinUrl('favicon.ico') ?>" type="image/x-icon"/>
<link rel="shortcut icon" href="<?php echo $this->getSkinUrl('favicon.ico') ?>" type="image/x-icon"/>

<script type="text/javascript">
    var BLANK_URL = '<?php echo $this->getJsUrl() ?>blank.html';
    var BLANK_IMG = '<?php echo $this->getJsUrl() ?>spacer.gif';
    var BASE_URL = '<?php echo $this->getUrl('*') ?>';
    var SKIN_URL = '<?php echo $this->getSkinUrl() ?>';
    var FORM_KEY = '<?php echo $this->getFormKey() ?>';
    var SHOP_URL = '<?php echo Mage::getBaseUrl(); ?>';
    var BILLSAFE_FORM_ACTION = '';
    var IS_SECURE_URL = '<?php echo ($_SERVER["HTTPS"] == "on" ? "1" : "2") ?>'; 
    var SECRET_KEY = '<?php echo Mage::getSingleton('adminhtml/url')->getSecretKey("admin_billsafe/adminhtml_billsafe_payment","gettoken"); ?>';
    var SECRET_KEY_SUCCESS = '<?php echo Mage::getSingleton('adminhtml/url')->getSecretKey("adminhtml_billsafe_payment","verify"); ?>'
    var lpg = null;
</script>

<?php echo $this->getCssJsHtml() ?>

<script src="https://content.billsafe.de/lpg/js/client.js"></script>

<?php if ($this->getCanLoadExtJs()): ?>
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = BLANK_IMG;
        Ext.UpdateManager.defaults.loadScripts = false;
        Ext.UpdateManager.defaults.disableCaching = true;
    </script>
<?php endif; ?>

<?php if ($this->getCanLoadTinyMce()): // TinyMCE is broken when loaded through index.php ?>
    <script type="text/javascript" src="<?php echo $this->getJsUrl() ?>tiny_mce/tiny_mce.js"></script>
<?php endif; ?>

<script type="text/javascript">
    Fieldset.addToPrefix(<?php echo Mage::helper('adminhtml')->getCurrentUserId() ?>);
</script>

<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getChildHtml('calendar'); ?>
<?php echo $this->getChildHtml('optional_zip_countries'); ?>
