@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    padding: 20px;
    font-family: Montserrat, Sans Serif;
    font-size: 12px;
}

button {
    display: none;
}

address {
    font-style: normal;
}

div {
}

div.print-head {
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;    
    overflow: hidden;
    margin-bottom: 20px;
}

div.print-head address {
    float: left;
    margin-top: 24px;
    margin-left: 20px;
    color: #ccc;
}

div.print-head img {
    float: left;
}

div.col2-set {
    clear: both;
}

div.col2-set .col-1,
div.col2-set .col-2 {
    min-width: 240px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

p {
    margin: 0;
}

h1, h2 {
    clear: both;
    margin: 0;
    /*margin-top: 10px;*/
    margin-bottom: 6px;
}

.page-break {
    display: block; page-break-before: always;
}

table#my-orders-table {
    font-size: 12px;
    border: 1px solid #ccc;
    page-break-inside: auto;
}

#my-orders-table tr {
    page-break-inside: avoid; 
    page-break-after: auto;
}

#my-orders-table thead {
    display: table-header-group;
}

#my-orders-table tfoot {
    display: table-footer-group;
}

#my-orders-table tbody td,
#my-orders-table tfoot td {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#my-orders-table thead th {
    border-right: 1px solid #ccc;
}

#my-orders-table thead th:nth-child(5),
#my-orders-table tbody td:nth-child(5) {
    border-right: none;
}

#my-orders-table thead th:nth-child(1),
#my-orders-table tbody td:nth-child(1),
#my-orders-table thead th:nth-child(2),
#my-orders-table tbody td:nth-child(2) {
    text-align: left;
}

#my-orders-table thead th:nth-child(3),
#my-orders-table tbody td:nth-child(3),
#my-orders-table thead th:nth-child(5),
#my-orders-table tbody td:nth-child(5) {
    text-align: right;
}

#my-orders-table thead th:nth-child(4),
#my-orders-table tbody td:nth-child(4) {
    text-align: center;
}

#my-orders-table tfoot td:nth-child(1) {
    text-align: right;
}

#my-orders-table tfoot td:nth-child(2) {
    text-align: right;
}