@media only screen and (min-width: 568px) and (max-width: 1024px) {
	.col-main { display: block }
	#top_navigation .login {
		border-right: 1px solid #888991;
	}
	.col-main #cart-overlay{
		width: 350px;
		right: 0;
	}
	
	.header-container{z-index: -1; height: 193px;}
	/*.nav-container {width: 193px;}*/
	.navigation-extras{top: 150px;width: 193px;}
	.small-visible{display: block!important;  width: 177px; color:#97979F; font-size: 18px;padding: 18px 0 16px 16px;  cursor: pointer;}
	.hauptmenu-icon{background: url(../images/menu-icon-small.png); width: 28px; height: 28px; display: inline-block; margin: -5px 0 0 12px; position: fixed; border: 1px solid #D1D2D5}
	
	/*.header img{max-width: 192px;margin-top: -40px;}*/
	#nav { background: #fff; }
	#shopinfo-container #shopinfo-wrapper { left: 152.5px; }
	#products-list li {margin-left: auto;}
	#top_navigation{width:68%}
	
    #shop-pickup-info .header > span {
        font-size: 12px;
    }
    
    #home-page .last-wrapper {
        width: 100%;
    }

    #home-page .last-wrapper div {
        width: 50%;
    }
	
    #product-container div.col_middle {
        width: 0px;
    
}

@media only screen and (min-width: 568px) and (max-width: 975px) {
    #product-container div.col_left {
        width: 100%;
    }
    #product-container .col_right {
        width: 100%;
    }
    
}

@media only screen and (min-width: 743px) and (max-width: 1024px) {
	#about-us .left-column { margin-right: 215px;}	
}