@media only screen and (max-width: 567px) {
    
    #home-page {
        margin: 0;
    }
    
    button {
        font-size: 10px;
    }
    
    #checkout-steps-overview {
        display: none;
    }
    
    #product-container .col_middle {
        display: none;
    }
    
    #product-container .col_right {
        font-size: 12px;
        width: 100%;
    }
    
    #product-container .product-options label {
        font-size: 12px;
    }
    
    .product-view .product-shop .product-name h1 {
        font-size: 26px;
    }
    
    .product-view .option-details .detail-dt {
        margin-left: 5px;
    }
    
    .option-details .template-option {
        font-size: 12px;
        min-width: 170px;
        width: auto;
    }
    
    .product-view .product-shop .price-box {
        font-size: 20px;
    }
    
    .product-view .product-shop .short-description {
        margin-left: 5px;
        font-size: 12px;
    }
    
    .product-view .delivery-time-label {
        
    }

    .page-header > span {
        font-size: 18px;
    }

    #checkoutSteps {
        margin-top: 0;
    }
    
    #checkout-step-login .col-1 {
        width: 90%;
    }
    #checkout-step-login .col-2 {
        width: 90%;
        padding-left: 10px;
    }   
    
}

@media only screen and (min-width: 363px) and (max-width: 567px) {	

    .page {
        margin-left: auto;
        margin-right: auto;     
    }
    
    #home-page .wrapper, .last-wrapper {
        display: none;
    }
    .col-main {padding: 0; border: none; margin-top: 39px; margin-left:0; width:100%; position: relative; margin-bottom: 85px; float:left;}
    .navigation-contact-box, .bottom-navigation{position: fixed; bottom: 0; z-index: 101; width: 100%; height: 55px; padding-top: 25px;}
    
    .bottom-navigation, #bottom-nav {background-color: #a9a9b0; }
    #bottom-nav{text-align: left;}
    #bottom-nav #bottom-links a {color: #fff;}
        
    #mobile-navicon{ display: block; left: 0; position: fixed; top: 71px; z-index: 102;}
    #shopinfo-container #shopinfo-wrapper{left: 152.5px;}
    #shopinfo-container{ margin-top: 0;}
    #top_navigation {height: 40px!important; position: fixed; margin-top: 71px; z-index: 101;}

    .col-left .header-container { position: fixed; top: 0; left: 0; width:69px; height:71px; width: 100%; z-index: 101;background: none repeat scroll 0 0 #fff;}
    .col-left .header-container .header { width:80px; height:inherit; display: table-cell; vertical-align: middle; text-align:right; z-index:10; } 
    
    #shop-pickup-info .header > span {
        font-size: 14px;
    }
    
    #products-list .item-overlay {
       width: 178px;
        height: 178px;
    }    
    #products-list .item-overlay-info {
        width: 178px;
        height: 65px;
        left: 0px;
        top: 95px;
        padding: 0;
        font-weight: normal;
        font-size: 12px;
    }
    #products-list .item-overlay-product-name { font-size: 13px; padding-top: 5px; }
    #products-list .item-overlay-product-configurate {
        position: absolute;
        left: 29px;
        bottom: -15px;
        padding: 0;
    }
    #products-list .item-overlay-product-configurate > a > img {
        width: 120px;
    }    
    
    .col-main .header > span { font-size: 16px; }
   
    /*.small-visible{ color:#97979F;font-size: 15px;padding: 18px 0px 16px 0px; float: right; margin-top: 32px; width: 145px; cursor: pointer; z-index: 100;position: relative;}*/
    .hauptmenu-icon {
    	background: url("../images/menu-icon-small.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    	border: 1px solid #D1D2D5;
    	display: inline-block;
    	height: 28px;
    	margin: 0 0 0 12px;
    	width: 28px;
    	vertical-align: top;
    }
    
    .col-left.sidebar{position:relative;  width:100%; height: 71px !important;}
    .logo {height: 39px;}
    #top_navigation .about_us, #top_navigation .showroom {width: 41.4%;}
    
    #shopinfo-container #shopinfo-details {width: 361px; left: -152px; border-right: 1px solid #d1d2d5; border-top: 1px solid #d1d2d5; height: 82px; margin-top: -62px;}
    #shopinfo-container #details-1 {margin-left: 0px;}
    #shopinfo-container #details-4 {border-right: none;}
    #shopinfo-container #details-1, #shopinfo-container #details-3{width: 49.5%;}
    #shopinfo-container #details-2, #shopinfo-container #details-4{width: 49.8%;}
    #shopinfo-container #shopinfo-details div {border-bottom: 1px solid #d1d2d5; }
    
    #products-list {overflow: visible; margin-left: auto; margin-right: auto; }
    
    .header-container .header{ width:inherit; height:inherit; display: table-cell; vertical-align: middle; text-align:right; z-index:10; } 
    .nav-container {
        position: fixed;
        top: 111px;
        left: 0px;
        z-index: 10;
        display: none;
        border-right: 1px solid #d1d2d5;
        background-color: #fff;
        width: 100%;
        max-width: 210px;
        max-height: 278px;
        overflow: hidden;
        overflow-y: auto;
        border-bottom: 1px #d1d2d5 solid;
    }
    #nav li.last {
        border-bottom: none;
    }
    #top_navigation .about_us{margin-left: 40px;}
    .top-navigation li{
	    padding-left: 10px;
	    padding-right: 10px;
    }
    #top_navigation .login, #top_navigation .header_cart, #top_navigation .account {border: medium none !important; height: 40px;  padding: 0; position: fixed !important; right: 0; top: 0; width: 40px !important;}
    #top_navigation .login { right: 41px; }
    #top_navigation .account { right: 82px; }

    #bottom-nav #social-icons, #bottom-nav #bottom-links{height:60px;}
    #bottom-nav #social-icons { float: right;}
    #bottom-nav #bottom-links { float: left; clear: none; margin-top: -20px; padding-left: 15px;}
    .product-image img{width: 100%; height: auto;}
    #products-list li {margin-left: 0;}
    
    /*-------------------- About Us Page Items resizing----------------------------*/
    #about-us .right-column{min-width: 300px;}
}

@media only screen and (min-width: 361px) and (max-width: 567px) {
	
	#products-list .item-wrapper {
        width: 180px;
        height: 180px;
    }

    .col-main #cart-overlay {
        width: 89%;
        border: 3px solid #d2d2d5;
        font-size: 12px;
    }   
    
    #top_navigation li a {
        background: #535362;
    }
    #top_navigation li.login a,
    #top_navigation li.header_cart a {
        background: #737683;
    }
    #top_navigation li.active a {
        background: #d1d2d5;
    }        
}
