@media only screen /*and (min-width:1281px)*/ and (max-width: 3800px) {

    .page {
        margin-left: auto;
        margin-right: auto;
        /*width: 1280px;*/
        height: auto;
        overflow: hidden;
       /* max-width: 1280px;*/
    }

    #home-page .wrapper {
        display: block;
        float: left;
        width: 33.3%;
        font-size: 0px;
        padding: 0;
        margin: 0;
    }

    #home-page .wrapper div a, #home-page .wrapper div {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    #home-page .wrapper div a img {
        position:relative;
        left:0;
        top: 0;
        /*-webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;*/
        width: 100%;
        height: auto;
    }
    #home-page .wrapper div img{
	    width: 100%;
    }

    #home-page .wrapper .hover {
        position:absolute;
        left:0;
        top: 0;
    }

    /*#home-page img.hover:hover {
        opacity: 0;
    }*/

    #home-page .last-wrapper div {
        float:left; display: block; position: relative;
    }
    
    #home-page .last-wrapper a img.hover {
        position:absolute;
        left:0;
        top: 0;
    }
    
    #home-page {
        margin: -20px;
        /*overflow: hidden;
        padding-bottom: 40px;*/
    }
    
    h1 {
        margin: 0;
    }

    /*.main {
        position: relative;
        overflow: hidden;
    }
    */
    .col-left.sidebar {
        position: fixed;
    }
    
    .col-main {
        /*margin-left: 194px;*/
        overflow: hidden;
    }
    
    .content-container {
        color: #737683;
        font-size: 14px;
        padding: 20px;
        margin-top: 40px;
    }
    
    /* Produktansicht */
    #product-container {
        width: auto;
        height: 500px;
    }

    #product-container .head-line {
        width: 490px;
        height: 1px;
        top: 0px;
        background-color: #989898;
    }

    #product-container .divider-line {
        width: 100%;
        height: 1px;
        background-color: #989898;
    }

    #product-container .col_middle {
        width: 50px;
        float:left;
    }
        
    #product-container .col_right {
        width: auto;
        height: auto;
        overflow: hidden;
        float:left;
        margin-top: 0;
        min-height: 0;
        position: relative;
    }

    #product-container .col_right .col_right_wrapper {
        max-width: 450px;
        width: auto;
        margin: auto;
    }

    .product-options-bottom {
        border: 1px solid #91919E;
        padding: 15px;    
        margin: 1px;
        margin-top: 20px;
    }

    .product-options-bottom .tax-details {
        clear: both;
    }
        
    .product-options {
        width: auto;
    }

    .product-options dl {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    .product-options dl dd,
    .option-details dd,
    .item-options dd {
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        margin-left: 0;
    }
    .item-options dd > ul {
        padding-left: 6px;
    }
    .item-options dt {
        margin-bottom: 10px;
    }

    .product-options .none-group-wrapper {
        padding: 0;
    }

    #customer-account-categories,
    #product-info-panel {
        margin: auto;
        width: auto;
        max-width: 900px;
        height: 480px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;
        font-size: 12px;
        border-left: 1px solid #bdbdc9;
        border-right: 1px solid #bdbdc9;
        border-bottom: 1px solid #bdbdc9;
        border-top: none;
        padding: 0;
        font-family: Montserrat;
    }

    #product-info-panel div {
        width: auto;
        height: 428px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #product-info-panel .image {
        float: right;
        margin: 5px;
        width: 50%;
    }

    #product-info-panel .image > img {
        width: 100%;
    }
    
    #product-info-panel table tr td {
        width: 50%;
        padding: 4px;
        vertical-align: top;
    }

    #product-info-panel a[href$='.pdf'] {
        padding: 5px 20px 5px 0;
        background: transparent url(../images/icon_pdf.gif) no-repeat center right;
    }

    #customer-account-categories,
    #customer-account-categories *,
    #product-info-panel,
    #product-info-panel * {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #customer-account-categories .ui-widget-header,
    #product-info-panel .ui-widget-header {
        background: none;
        background-color: #fff;
        border: none;
    }
    
    #customer-account-categories .ui-state-default, 
    #customer-account-categories .ui-widget-content .ui-state-default, 
    #customer-account-categories .ui-widget-header .ui-state-default,
    #product-info-panel .ui-state-default, 
    #product-info-panel .ui-widget-content .ui-state-default, 
    #product-info-panel .ui-widget-header .ui-state-default {
        border: none;
        background: none;
        background-color: #747683;    
    }

    #customer-account-categories .ui-state-active, 
    #customer-account-categories .ui-widget-content .ui-state-active, 
    #customer-account-categories .ui-widget-header .ui-state-active,
    #product-info-panel .ui-state-active, 
    #product-info-panel .ui-widget-content .ui-state-active, 
    #product-info-panel .ui-widget-header .ui-state-active {
        border: none;
        background: none;
        background-color: #ff3300;
        color: #fff;
    }

    #customer-account-categories .ui-tabs-nav li,
    #product-info-panel .ui-tabs-nav li {
        width: 49.5%;
        margin: 0 2px 0 0;
    }
    #product-info-panel .ui-tabs-nav li {        
        width: 292px
    }

    #customer-account-categories .ui-tabs-nav li:nth-child(2),
    #product-info-panel .ui-tabs-nav li:nth-child(3) {
        margin: 0;
    }

    #customer-account-categories .ui-tabs-nav,
    #product-info-panel .ui-tabs-nav {
        padding: 0;
    }

    #customer-account-categories .ui-tabs-nav li a,
    #product-info-panel .ui-tabs-nav li a {
        font-weight: bold;
        color: #fff;
        width: 100%;
    }

    #product-info-panel .ui-widget-content {
        border: none;
    }

    #customer-account-categories div,
    #product-info-panel div {
        color: #737683;
    }

    #customer-account-categories a:focus,
    #product-info-panel a:focus { 
        outline: none;
    }

    /* Shop Info Header */
    #shopinfo-container {
        width: 100%;        
        height: 40px;
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    #home-page #shopinfo-container {
        width: 98%;
    }

    #shopinfo-container #shopinfo-wrapper {
        width: 60px;
        height: 40px;
        border: 0;
        background-color: #fff;
        z-index: 0;
        margin-top: -28px;
        margin-left: auto;
        margin-right: auto;
    }

    #shopinfo-container #shopinfo-box {
        width: 40px;
        height: 30px;
        border: 1px solid #d1d2d5;
        color: #727284;
        text-align: center;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8px;
        padding-bottom: 1px;
        font-size: 20px;
        position: relative;
    }

    #shopinfo-container #shopinfo-details {
        width: 535px;
        height: 42px;
        background-color: #fff;
        position: relative;
        left: -267px;
        opacity: 0;
        z-index: 1;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;
        color: #727284;
        font-size: 12px;
    }

    #shopinfo-container #shopinfo-details div {
        float: left;
        border-left: 1px solid #d1d2d5;
        padding-top: 12px;
        height: 28px;
        background-color: #fff;
        text-align: center;
    }

    #shopinfo-container #details-1 {
        width: 160px;    
        margin-left: 10px;
    }

    #shopinfo-container #details-2 {
        width: 135px;    
    }

    #shopinfo-container #details-3 {
        width: 155px;    
    }

    #shopinfo-container #details-4 {
        width: 60px;    
        border-right: 1px solid #d1d2d5;
    }

    #shopinfo-container #details-4 img {
        margin-top: -12px;
    }

    #shopinfo-container hr {
        color: #989898;
        background-color: #d1d2d5;
        height: 1px;
        border: none;
        outline: none;
        z-index: 0;
    }

    /* Product Configurator */
    .option-detail-wrapper {
        margin: 0;
        margin-top: 8px;
    }

    .option-details {
        border: 0 !important;
        padding: 0 !important;
    }

    .option-details select {
        width: 170px;
        height: 24px;
        text-transform: uppercase;
        border: 0;
        color: #91919E; 
        float:right;
        background: transparent;
        padding: 5px;
        line-height: 1;
        border-radius: 0;
        -webkit-appearance: none;
        outline: none;
        font-family: Montserrat;

        /* Firefox fix */        
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }

    .option-details .template-option {
        border: none;
        width: 170px;
        overflow: hidden;
        background: url(../images/configurator_arrow_down.png) no-repeat right #fff;
    }

    .option-details dt {
        width: auto;
        float: left;
        text-transform: uppercase;
        margin-left: 20px; 
        margin-bottom: 10px; 
        color: #989898;
        font-size: 14px;
        font-weight: bold;
    }

    .option-details .detail-dt {
        padding-top: 4px;
    }

    /* Product Images */
    .product-view { position: relative; }
    
    .product-view .product-img-box { width:100%; height:auto; display: table-cell; vertical-align: middle; text-align: center; }
    #product-container div.col_left { float: left; display: table; height: auto; }
    #product-container div.col_left img#image { width: 100%; height: auto; }
    .product-view .product-img-box .product-image { margin:0; width:100%; } 
    .product-view .product-img-box .product-image-zoom { position:relative; width:inherit; height:inherit; top: 0px; overflow:hidden; z-index:9; } 
    .product-view .product-img-box .zoom { display: none; }
    
    /* Kategorien */
    #products-list {
        list-style-type: none;
        overflow: hidden;
        padding-bottom: 40px;
        padding-left: 0;
        width: auto;
        margin: auto;
    }
    
    #home-page #products-list {
        margin-left: auto;
        margin-right: auto;
    }

    #products-list li {
        float: left;
    }
    
    #products-list .item-wrapper {
        width: 340px;
        height: 340px;
        position: relative;
    }

    #products-list .item-overlay {
        width: 338px;
        height: 338px;
        left: 0px;
        top: 0px;
        position: absolute;
        opacity: 0;
        z-index: 5;
        background-color: transparent;
        border: 1px solid #737683;
        cursor: pointer;        
    }

    #products-list .item-overlay-info {
        width: 278px;
        height: 58px;
        left: 0px;
        top: 220px;
        position: absolute;
        z-index: 4;
        background-color: #fff;
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        color: #9797a1;
        font-weight: bold;
        font-size: 18px;
    }

    #products-list .item-overlay-product-name {
        text-align: center;
        color: #989898;
        font-size: 16px;
    }

    #products-list .item-overlay-product-price {
        text-align: center;
        padding-top: 4px;
        color: #757482;
    }

    #products-list .item-overlay-product-configurate {
        position: relative;
        clear: both;
        padding-top: 10px;
        opacity: 1;
    }
    
    #products-list .item-overlay-product-configurate img:hover {
        border-right: 1px solid #d1d2d5;
        border-bottom: 1px solid #d1d2d5;
    }


    /* Produktfilter */
    #live-category-filter-wrapper {
        width: inherit;
        height: 40px;
        background-color: #fff;
        padding: 0 10px;
        font-size: 11px;
        text-transform: none;
        color: #000;
    }

    #live-category-filter-container {
        width: inherit;
        height: 0px;
        padding: 0 8px;
        position: relative;
        overflow: hidden;
    }

    #live-category-filter-container a {
        padding: 0 !important;
        border: 0;
    }

    #live-category-filter-bodysize,
    #live-category-filter-bodyweight {
        width: inherit;
        height: 80px;
    }

    #live-category-filter-price {
        width: inherit;
        height: 60px;
    }

    #live-category-filter-properties {
        width: inherit;
        height: 100px;
    }

    #live-category-filter-wrapper .live-category-filter-property-label {
        width: 130px; 
        float: right;
        margin-top: 2px;
    }

    #live-category-filter-wrapper .live-category-filter-property {
        clear: left;
        height: 35px;
    }

    #live-category-filter-wrapper .category-filter {
        margin-top: 8px;
        width: inherit;
        height: 6px;
        line-height: 2px;
    }

    .category-filter {
        background: transparent;
        border: 1px none transparent;
    }
    
    #category-filter-bodysize-legend,
    #category-filter-bodyweight-legend {
        background: #fff url(../images/slider-legend-bg.png) no-repeat 0px 4px;
        width: inherit;
        height: 40px;    
        text-align: center;
        margin-top: 4px;
        padding-top: 15px;
    }

    #category-filter-price-legend {
        width: inherit;
        height: 45px;    
        text-align: center;
        margin-top: 8px;
        position: relative;
    }

    #category-filter-price-tag {
        position: absolute;
        left: -22px;
        top: 19px;
        width: 63px;
        height: 42px;
        background: #fff url(../images/price-slider-tag.png) no-repeat 0 0;
        z-index: 3;
    }

    #category-filter-price-label {
        cursor: default;
        padding-left: 0 !important;
        padding-right: 2px;
        padding-top: 18px;
        text-align: center;
        color: black; 
    }

    #category-filter-bodysize,
    #category-filter-bodyweight {
        padding: 0 18px;
    }
    
    #category-filter-bodysize-1,
    #category-filter-bodyweight-1 {
        width: 40px;
        float: left;
    }

    #category-filter-bodysize-2,
    #category-filter-bodyweight-2 {
        width: 74px;
        float: left;
        text-align: center;
    }

    #category-filter-bodysize-3,
    #category-filter-bodyweight-3 {
        width: 40px;
        float: right;
    }

    #live-category-filter-enabled-label {
        margin-right: 20px;
    }
        
    .ui-slider-horizontal .ui-state-default {
        margin-top: -9px;
        width: 17px;
        height: 17px;
        border: 0;
        background: transparent url(../images/filter-slider.gif) no-repeat scroll 0 0;
    }

    .ui-slider a:focus { 
        outline: none;
    }

    /* Untere Navigation */
    #bottom-nav {
        width: inherit;
        height: 100px;
        font-size: 14px;
        text-align: center;
        z-index: 1;
    }

    #bottom-nav #social-icons {
        width: 155px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    #bottom-nav #social-icons #facebook {
        
    }

    #bottom-nav #social-icons #twitter {
    }

    #bottom-nav #social-icons #googleplus {
    }
        
    #bottom-nav #social-icons div {
        width: 28px;
        height: 28px;
        border: 1px solid #cbcbd0;
        float: left;
        position: absolute;
    }

    #bottom-nav #social-icons div:nth-child(1) {
        top: 0px;
        left: 10px;
    }

    #bottom-nav #social-icons div:nth-child(2) {
        top: 0px;
        left: 60px;
    }

    #bottom-nav #social-icons div:nth-child(3) {
        top: 0px;
        left: 110px;
    }
        
    #bottom-nav #bottom-links {
        clear: both;
        margin-top: 20px;
    }

    #bottom-nav #bottom-links p {
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    #bottom-nav #bottom-links a {
        color: #97979f;
        display:block;
        line-height:1.3em;
        text-decoration:none;
    }
    
    #bottom-nav #bottom-links a:hover {
        color: #535362;        
    }

    /* Kontaktbox */
    #contact-box {
        width: 160px;
        height: 60px;
        border: 1px solid #d1d2d5;
        z-index: 0;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        color: #97979f;
        font-weight: normal;
        font-size: 12px;
        position: relative;
    }

    #contact-box-teaser {
        width: 160px;
        height: 60px;
        z-index: 1;
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        display: table;
        text-align: center;
    }

    #contact-box .contact-box-caption {
        z-index: 1;
        vertical-align: middle;
        display: table-cell;
    }

    #contact-box .contact-box-questionmark {
        float: right;
        font-size: 32px;
        width: 20px;
        height: 40px;
        margin-top: 10px;
        margin-right: 10px;
        overflow: hidden;
        z-index: 1;
    }

    #contact-box-info {
        width: 140px;
        height: 140px;
        border: 1px solid #d1d2d5;
        position: absolute;
        padding-left: 20px;
        padding-top: 3px;
        top: -1px;
        left: -1px;
        opacity: 0;
        z-index: 0;
        background-color: #fff;
        overflow: hidden;
    }

    /* Product Shop */
    .product-view .product-shop .product-name { text-align:center; }
    .product-view .product-shop .product-name h1 { text-transform: uppercase; margin:0; font-size:34px; color: #989898; padding: 8px }
    .product-view .product-shop .availability { margin:10px 0; }
    .product-view .product-shop .short-description { margin-left:20px; margin-top: 20px; margin-bottom:20px; color: #989898; font-size: 13px; font-weight: normal; }
    .product-view .product-shop .short-description .more { font-weight: bold; text-align:center; float: right; width: 140px; height: 24px; text-transform: uppercase; background-color: #91919E; }
    .product-view .product-shop .short-description .more span { line-height: 26px; width: 140px; vertical-align:middle; }
    .product-view .product-shop .short-description .more span a { color: #fff; text-decoration: none; }
    .product-view .product-shop .price-box { float: left; margin-left: 5px; font-size: 24px; font-weight: bold; width: auto; }
    .product-view .product-shop .tax-details { float: left; margin-left: 8px; font-size: 8px; }
    .product-view .product-shop .delivery-time-details { float: none; margin-top: 0; text-transform: uppercase; text-align: right; }
    .product-view .product-shop .delivery-time-info { color: #FF4F26; font-weight: bold; }
    .product-view .product-shop .delivery-time-pickup-info { height: 16px; text-transform: none; font-size: 10px; padding-top: 6px; }
    .product-view .product-shop .delivery-time-pickup-icon { padding-left: 4px; margin-top: -3px; float: right; }
    .product-view .product-shop .add-to-cart { margin-left: 5px; padding-top: 10px; text-transform: uppercase; }
    .product-view .product-shop .add-to-cart-image { cursor: pointer; float:right; }
    .product-view .product-shop .add-to-cart label { padding-right: 4px; }
    .product-view .product-shop .add-to-cart input { width: 26px; padding: 4px; }

    /* Base Columns */
    .col-left { 
        width:193px; padding:0 0 1px; position: fixed; overflow: scroll; overflow-x: hidden; overflow-y: auto; height: 100%; 
    }
    .col-main { position: relative; overflow: hidden; margin-left: 193px; /*float:left;*/ /*width:1086px;*/ min-height: 920px; padding:0 0 1px; border-left: 1px solid #d1d2d5; } 
    
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(203,203,218,0.8); 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(203,203,218,0.4); 
    }

    /* Header ================================================================================ */
    .header-container { width:193px; height: 193px; float:left; }
    .header-container .header { width:inherit; height:inherit; text-align:right; z-index:10; } 
    .logo { float:left; width:inherit; height:inherit;  }

    /********** < Navigation */
    .nav-container { }
    #mobile-navicon {
        display: none;
    }
    
    /* Top Navigation */
    #top_navigation {
        height: 40px;
        background-color: #737683;
        text-transform: uppercase; 
        font-size: 14px; 
        color: #d1d2d5;    
        position: fixed;
        top: 0;
        /*left: 0;*/
        z-index: 99;
        width: 85%;
        /*width: 100%;*/
    }
    
    .top-navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .top-navigation li {
        float: left;
        height: 28px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12px; 
        text-align: center;
    }
    
    .top-navigation .border-right {
        border-right: 1px solid #767583;
    }

    .top-navigation .border-left {
        border-left: 1px solid #989898;
    }
    
    .top-navigation a {
        color: #d1d2d5;    
        background-color: transparent;
        text-decoration: none;
    }
    
    .top-navigation .about_us , 
    .top-navigation .showroom { 
        background: #535362;
        float:left;
        width: 120px;
        position: relative;
    }
    
    .top-navigation .about_us a, 
    .top-navigation .showroom a{
	    /*background: #535362 url(../images/topnav_arrow_right_hover.png) no-repeat 121px 16px;*/
	    background: #535362 url(../images/topnav_arrow_right.png) no-repeat;
    }

    .top-navigation li.showroom.active a {
        color: #f30;
        background: #d1d2d5 url(../images/topnav_arrow_right_hover.png) no-repeat 132px 6px;
    }
    
    .top-navigation li.about_us.active a {
        color: #f30;
        background: #d1d2d5 url(../images/topnav_arrow_right_hover.png) no-repeat 112px 6px;
    }        
    
    .top-navigation .about_us a {
        background-position: 112px 6px;
    }

    .top-navigation .showroom a {
        background-position: 132px 6px;
    }
    
    .top-navigation li.about_us.active,
    .top-navigation li.showroom.active,
    .top-navigation li.account.active,
    .top-navigation li.header_cart.active,
    .top-navigation li.login.active {
        color: #f30;
        background-color: #d1d2d5;
    }

    .top-navigation li.header_cart.active a,
    .top-navigation li.account.active a,
    .top-navigation li.login.active a {
        color: #f30;
    }

    .top-navigation li:hover a,
    .top-navigation li a:hover {
        color: #fff;
    }
        
    /*.top-navigation li:hover img {
        display: none;
    }*/
    
    .top-navigation .about_us a, 
    .top-navigation .showroom a {
        width: 100%;
        height: 100%;
        display: block;
        color: #d1d2d5;
        text-decoration: none;
    }

    .top-navigation .about_us img, 
    .top-navigation .showroom img {
        position: absolute;
        right: 10px;
        top: 16px;
    }

    .top-navigation .account,
    .top-navigation .login {
        width: auto !important;
        text-align: center;
    }

    .top-navigation .account,
    .top-navigation .login, 
    .top-navigation .header_cart { 
        background-image:none;
        float:right;
        width: 130px;
    }

    .col-main #cart-hover {
        position: relative;
    }

    .col-main #cart-overlay {
        background-image: none;
        background-color: #fff;
        width: 360px;
        height: auto;
        max-height: 800px;
        position: fixed;
        top: 40px;
        right: 0;
        border-left: 5px solid #dcdbe9;
        border-right: 5px solid #dcdbe9;
        border-bottom: 5px solid #dcdbe9;
        border-top: none;
        opacity: 0;
        z-index: -1;
        padding: 15px;
        color: #97979f;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        text-transform: none;
    }

    .col-main #cart-overlay .mini-products-list {
        list-style-type: none;
    }

    #top_navigation .header_cart #cart-overlay div {
        background-image: none;
        background-color: #fff;
        padding: 0;
        height: auto;
    }

    .col-main #cart-overlay #cart-sidebar {
        padding: 0;
        margin: 0;
    }

    #cart-sidebar .item .product-index {
        float: left;
        width: 20px;
        height: 20px;
        padding-top: 16px !important;
    }

    #cart-sidebar .item .product-image-container {
        float: left;
        width: 80px;
        height: 80px;
        margin-top: -20px;
        margin-left: -8px;
        margin-right: 6px;
    }

    #cart-sidebar .item {
        border-bottom: 1px solid #bdbdc9;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    #cart-sidebar .item .product-details {
        /*float: left;*/
        margin-top: -14px;
        width: 100%;
    }

    #cart-sidebar .item .product-details a {
        text-transform: uppercase;
        text-decoration: none;
        color: #52525c;
    }
    #cart-sidebar .item .product-details a:hover {
        color: #52525c !important;
        text-decoration: underline;
    }

    #cart-sidebar .item .product-delete {
        float: right;
        width: 12px;
        height: 12px;
    }

    #cart-sidebar .item .product-change {
        width: auto;
        height: 19px;
        margin-top: 4px;
        text-align: right;
    }

    #cart-sidebar .item .product-options {
        font-size: 11px;
        width: auto;
    }

    #cart-sidebar .item .product-price {
        width: auto;
        text-align: right;
        color: #52525e;
    }

    #cart-sidebar .item .product-quantity-changer {
        width: 24px;
        height: 10px !important;
        display: inline-block;
    }

    #cart-sidebar .item .product-quantity-changer img {
        float: left;
    }
    
    #cart-overlay button.sidebar-checkout {
        width: 100%;
    }

    #cart-overlay .summary .product-total-price-floater {
        float: left; 
        height: 30px !important;
        width: 100%;
        margin-bottom: -15px;
        background-color: #f4f4f4 !important;
    }

    #cart-overlay .summary .product-total-price {
        clear: both;
        width: auto;
        height: 35px !important;
        background-color: #f4f4f4 !important;
        color: #52525c;
        position: relative;
    }

    #cart-overlay .summary .product-total-price-label {
        width: auto;
        float: left;
        background-color: #f4f4f4 !important;
        padding-left: 8px !important;
    }

    #cart-overlay .summary .product-total-price-amount {
        text-align: right;
        width: auto;
        float: right;
        font-size: 16px;
        background-color: #f4f4f4 !important;
        padding-right: 8px !important;
    }

    #cart-overlay .actions {
        margin-top: 10px;
    }


    /* All Levels */ /* Style consistent throughout all nav levels */
    #nav { width:inherit; margin:0 auto; padding:0; font-size:14px; }
    #nav li { color: #97979f; text-transform: uppercase; list-style-type: none; position:relative; text-align:left; border: 0; border-bottom: 1px solid #d1d2d5; }
    #nav li:nth-child(1) { border-top: 1px solid #d1d2d5; }
    #nav li.over { color: #989898; z-index:998; }
    #nav li.active a { color: #f30; }
    #nav a { color: inherit; display:block; line-height:1.3em; text-decoration:none; padding-top: 14px; padding-bottom: 14px; }
    #nav a:hover { color: #535362; }
    #nav span { display:block; cursor:pointer; white-space:nowrap; padding-left: 16px; }
    #nav li ul span { white-space:normal; }
    #nav ul li.parent a { background:url(../images/bkg_nav2.gif) 100% 100% no-repeat; }
    #nav ul li.parent li a { background-image:none; }
     
    /* Helper */
    .clear_float {
        clear:both;
        height: 0;
    }

    /* Dein perfekter Stuhl Kontakt Box */
    #perfect-chair-form {
        width: 322px;
        height: 458px;
        background-color: #e1e6e9;
        color: #727683;
        font-size: 13px;
        padding: 20px;
        display: none;
        position: absolute;
        top: 196px;
        left: 361px;
        border: 1px solid #fff;
    }

    #perfect-chair-form .header {
        text-align: center;
        width: inherit;
        height: 25px;
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
    }

    #perfect-chair-form .header .close {
        float: right;
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }

    #perfect-chair-form .description {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #perfect-chair-form .selection {
        clear: both;
        text-transform: uppercase;
        height: 24px;
    }
        
    #perfect-chair-form .selection div {
        float: left;
    }

    #perfect-chair-form .selection .unimportant {
        font-size: 10px;
        margin-left: 110px;
    }

    #perfect-chair-form .selection .important {
        font-size: 10px;
        float: right;
    }

    #perfect-chair-form .selection .label {
        width: 110px;
        text-transform: uppercase;
    }

    #perfect-chair-form .selection .slider {
        width: 210px;
        height: 6px;
        margin-top: 3px;
    }

    #perfect-chair-form .personal {
        float: left;
        width: 110px;
        height: 120px;
        font-size: 9px;
        font-style: italic;    
    }

    #perfect-chair-form .personal p {
        font-style: normal;
        font-size: 10px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }

    #perfect-chair-form .bottom .contact-form-container {
        float: left;
        width: 210px;
        height: 160px;
    }

    #perfect-chair-form .bottom .contact-input input {
        background-color: #e1e6e9;
        width: 186px;
        height: 24px;
        padding: 2px;
        border: 1px solid #fff;
        margin-bottom: 4px;
        color: #727683;
        padding-left: 12px;
        padding-right: 12px;
        font-family: Montserrat, Sans Serif;
    }

    #perfect-chair-form .submit,
    #perfect-chair-form .close {
        margin-top: 20px;
        text-align: center;
    }

    #perfect-chair-form .thank-you {
        background-color: #e1e6e9;
        display: none;
        z-index: 0;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 322px;
        height: 458px;
    }

    /* Über uns Seite */
    #about-us,
    #shop-pickup-info,
    #showroom {
        width: inherit;
        height: auto;
        color: #727683;
        /*padding: 20px;*/
    }
    
    #shop-pickup-info {
        padding: 20px;
    }

    .col-main .header {
        position: relative;
        width: 100%;
        height: 40px;
        background: #fff url(../images/1px_989898.png) repeat-x 50%;
        text-align: center;
        margin: 0 auto 15px auto;
        z-index: 0;
        display: block;
    }

    .col-main .header > span {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 22px;
        color: #989898;
        line-height: 39px;
        width: auto;
        padding: 8px;
        background: #fff url(../images/1x_fff.png);
    }
    
    #shop-pickup-info div.close {
        float: right;
        padding-top: 20px;
    }

    #about-us .right-column {
        float: left;
        width: 40%;
        min-width: 400px;
        font-size: 14px;
    }
    
    #showroom .right-column {
        float: none;
        width: auto;
        font-size: 14px;
    }
    
    #shop-pickup-info .left-column,
    #shop-pickup-info .right-column {
        float: left;
        width: 47%;
        padding: 0 10px;
    }
    
    #shop-pickup-info .map {
        /*border: 1px solid black;*/
    }

    #about-us .left-column {
        float: left;
        width: 555px;
        margin-bottom: 20px;
    }

    #showroom .left-column {
        float: left;
        max-width: 555px;
        margin-bottom: 20px;
        margin-right: 20px;
        width: 100%;
    }

    #about-us .crew-image img {
        /*border: 1px solid black;*/
    }

    #shop-pickup-info .text p:nth-child(1),
    #about-us .text p:nth-child(1) {
        margin: 0;
    }

    #about-us .staff {
        list-style-type: none;
        padding: 0;
        margin-top: 30px;
    }

    #about-us .staff li {
        clear: both;
    }

    #about-us .staff .image {
        float: left;
    }

    #about-us .staff .content {
        float: left;
        width: 220px;
        padding-left: 25px;
        min-height: 170px;
    }

    #about-us .staff .content .staff-header {
        border-bottom: 1px solid #d1d2d5;
        font-size: 18px;
        padding-bottom: 4px;
        width: auto;
    }

    #about-us .staff .content .staff-about {
        margin-top: 8px;
    }

    #about-us .contact-form {
        width: 506px;
        font-size: 14px;
    }
    
    input[type="text"],
    input[type="password"] {
        height: 20px;
        padding: 10px;
        font-family: Montserrat, Sans Serif;
        margin: 5px 0;
    }

    .account-login #login-form input[type="text"],
    .account-login #login-form input[type="password"],
    .account-create #form-validate input[type="text"],
    .account-create #form-validate input[type="password"],
    .customer-account-confirmation #account-resend-confirmation #form-validate input[type="text"] {
        width: 240px;
    }

    #about-us .contact-form input[type="text"] {
        width: 100%;
    }
    
    #about-us .contact-form textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        font-family: Montserrat, Sans Serif;
        margin: 5px 0;
    }

    #about-us .contact-form input[type="submit"] {
        background: none;
        padding: 6px;
        border: 1px solid #aaa;
        font-family: Montserrat, Sans Serif;
        width: 100px;
        height: 40px;
        text-transform: uppercase;
        color: #989898;
        cursor: pointer;    
    }

    #about-us .contact-form-thank-you {
        font-size: 15px;
        width: 260px;
        display: none;
    }

    /* Showroom Seite */
    #showroom #slides {
        display: none;
        background-color: #000;
        position: relative;
    }

    #showroom .container,
    #showroom .map {
        margin: 0 auto;
        width: 100%;
        height: auto;
        /*border: 1px solid black;*/
    }

    #showroom .map {
        margin-top: 20px;
    }

    #showroom .headline1 {
        font-weight: bold;
        border-bottom: 1px solid #989898;
        width: 160px;
        padding-bottom: 2px;
    }

    .label {
        display: block;
        float: left;
        width: 70px;
    }

    #showroom .text p:nth-child(1) {
        margin: 0;
    }

    #showroom .headline2 {
        font-weight: bold;
    }
        
    .slidesjs-previous,
    .slidesjs-play,
    .slidesjs-stop,
    .slidesjs-next {
        display: none !important;
    }

    .slidesjs-pagination {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 17px;
        bottom: 15px;
        z-index: 999;
    }

    .slidesjs-pagination .active {
        color:red;
    }

    .slidesjs-pagination li {
        float: left;
        margin-left: -1px;
        margin-bottom: 1px;
        padding-right: 15px;
    }

    .slidesjs-pagination li a {
          display: block;
          width: 15px;
          height: 0;
          padding-top: 15px;
          background-image: url(../images/slides-pagination.png);
          background-position: 0 0;
          float: left;
          overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -15px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -30px
    }
    
    .page-header {
        background: #fff url(../images/layout/pixel_888.png) repeat-x 0% 50%;
        text-align: center;
    }
    .page-header > span {
        text-align: center;
        text-transform: uppercase;
        color: #989898;
        background-color: #fff;
        padding: 0 10px;
        font-size: 22px;
    }
    
    /* Check Out */
    .page-title.checkout {
        width: auto;
        height: 26px;
        color: #989898;
        background: #fff url(../images/layout/pixel_888.png) repeat-x 0% 50%;
        text-align: center;
    }
    .page-title.checkout h1 {
        background-color: #fff;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-size: 22px;
    }
    #checkout-onepage {
        width: 100%;
        overflow: hidden;
        position: relative;
        color: #989898;
        font-size: 13px;
        margin: auto;        
    }
    #checkout-steps-overview {
        float: left;
        padding-left: 3%;
        padding-top: 1px;
        border: none;
        width: auto;
        max-width: 280px;
        height: 610px;
    }
    #checkout-steps-overview .steps {
        list-style-type: none;
        padding: 0;
    }
    #checkout-steps-overview .steps li {
        clear: both;
        overflow: hidden;
    }
    #checkout-steps-overview .steps .step-box {
        border-left: 1px solid #d1d2d5;
        border-right: 1px solid #d1d2d5;
        border-bottom: 1px solid #d1d2d5;
        text-align: center;
        width: 18px;
        height: 19px;
        padding: 10px;
        color: #d1d2d5;
        float: left;
    }
    #checkout-steps-overview .step-label {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        display: none;
    }
    #checkout-steps-overview .step-label.active {
        display: block;
    }
    #checkout-steps-overview .step-box.active {
        border-left: 1px solid #989898;
        border-right: 1px solid #989898;
        border-bottom: 1px solid #989898;
        height: 18px;
        color: #989898;
    }
    #checkout-steps-overview .step-box.first {
        height: 18px !important;
        border-top: 1px solid #d1d2d5;
    }
    #checkout-steps-overview .step-box.first.active {
        border-top: 1px solid #989898;
    }
    .opc {
        list-style-type: none;
        padding: 0px;
        color: #989898;
        max-width: 720px;
        width: 98%;
        margin: 0;
        margin-top: 30px;
        border: 1px solid #989898;
        font-size: 12px;
        float: left;
    }
    .opc li.section {
        clear: both;
        border-bottom: 1px solid #989898;
        overflow: hidden;
        height: 38px;
    }
    .opc li.section.active {
        height: auto;
    }
    .opc li.active div.step-title {
        color: #f30;
        background-color: #dbdbea;
    }
    .opc .step {
        border-top: 1px solid #989898;
    }
    .opc .step-title {
        height: 39px;
        margin-top: -12px;
        background-color: #fff;
    }
    .opc .step-title a {
        display: none;
    }
    .opc .step-title span.number {
        float: left;
        width: 40px;
        height: 29px;
        padding-top: 10px;
        text-align: center;
        border-right: 1px solid #989898;
        font-size: 16px;
    }
    .opc .step-title h2 {
        font-size: 14px;
        padding-top: 10px;
        padding-left: 60px;
        text-transform: none;
        font-weight: normal;
    }
    .opc .col2-set {
        clear: both;
        overflow: hidden;
    }
    .opc .col2-set .col-1 {
        float: left;
        width: 40%;
        padding-right: 5%;
        padding-left: 10px;
    }
    .opc .col2-set .col-2 {
        float: left;
        width: 45%;
        padding-left: 5%;
        border-left: 1px solid #989898;
        margin-left: -1px;
        padding-right: 10px;
    }
    .opc .col2-set .col-1 p {
        padding: 0;
        margin: 0;
        padding: 10px 0;
    }
    .opc #co-billing-form .form-list .wide,
    .opc #co-shipping-form .form-list .wide {
        font-size: 12px;
        width: auto;
        font-family: Montserrat, Sans Serif;
    }
    .opc #co-billing-form .form-list .wide label,
    .opc #co-shipping-form .form-list .wide label {
        font-size: 14px;
    }
    .opc #co-billing-form .form-list .input-box,
    .opc #co-shipping-form .form-list .input-box {
        padding-top: 10px;
    }
    .opc #shipping-new-address-form li.control input.checkbox {
        margin-left: 10px;
    }
    #live-category-filter-wrapper > input[type="checkbox"] {
        margin-right: 6px;
        height: 24px;
    }
    .opc #co-billing-form .control.billing-radio {
        padding-top: 10px;
    }
    .opc #co-shipping-form li.control {
        padding-top: 10px;
    }
    .form-list {
        list-style-type: none;
        overflow: hidden;
    }
    ul li {
        overflow: hidden;
    }
    .opc .form-list .control input[type="radio"],
    .opc .form-list .control input[type="checkbox"],
    .opc .form-list label,
    .opc .sp-methods input[type="radio"],
    #live-category-filter-wrapper input[type="checkbox"],
    #live-category-filter-wrapper label,
    .opc .sp-methods label {
        vertical-align: middle;
        /*height: 24px;*/
    }
    .opc a {
        color: #989898;
    }
    .opc h3 {
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid #989898;
        padding-bottom: 8px;
        font-weight: normal;        
    }
    .opc fieldset {
        border: none;
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }
    .opc #login-form fieldset p {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }
    .opc .form-list {
        margin: 0;
        padding: 0;
    }
    .opc #checkout-step-login .form-list .control {
        padding-top: 4px;
    }
    .input-box input,
    .checkout-cart-index .input-text.qty,
    .opc #login-form .input-box input {
        width: 100%;        
        height: 32px;
        padding: 2px;
        box-sizing: border-box;
        /*margin: 0 10px;*/
        border: 1px solid #989898;
        margin-bottom: 4px;
        color: #989898;
        padding-left: 12px;
        padding-right: 12px;
        font-family: Montserrat, Sans Serif;
        text-transform: uppercase;        
    }
    
    .input-box {
        padding: 5px 5px;
    }
    
    .form-list {
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }
    
    .form-list,
    .fields {
        max-width: 600px;
        min-width: 220px;
    }
    
    .fields .street {
        width: 75% !important;
    }

    .fields .streetnumber {
        width: 25% !important;
    }

    .opc #opc-shipping_method {
        /*margin-top: -14px;*/
    }
    .opc #checkout-step-login .ul {
        list-style-type: square;
        margin: 0;
        padding-left: 10px;
    }
    .opc #co-billing-form ul,
    .opc #co-shipping-form ul,
    .opc #co-shipping-method-form ul {
        list-style-type: none;
        padding-left: 25px;
    }
    .opc #co-shipping-method-form ul {
        padding-left: 16px;
    }
    .customer-account-edit .my-account ul li,    
    .opc #co-billing-form ul li,
    .opc #co-shipping-form ul li,
    .opc #co-shipping-method-form ul {
        clear: both;
        overflow: hidden;
    }
    .my-account .field,
    .opc #co-billing-form .field,
    .opc #co-shipping-form .field {
        float: left;
        width: 50%;
    }
    .input-box input[type="text"],
    .input-box input[type="password"],
    .opc #co-billing-form .input-box input[type="password"] {
        width: 100%;
        /*margin: 10px 10px;*/
    }
    .opc #co-billing-form .wide,
    .opc #co-shipping-form .wide {
        float: left;
    }
    .opc #co-shipping-form .form-list {
        
    }
    /*.customer-address-form #form-validate .street,
    .customer-address-form #form-validate .streetnumber,
    .opc #co-billing-form .street,
    .opc #co-billing-form .streetnumber,
    .opc #co-shipping-form .street,
    .opc #co-shipping-form .streetnumber {
        float: left;
    }
    .customer-address-form #form-validate .streetnumber,
    .opc #co-billing-form .streetnumber input,
    .opc #co-shipping-form .streetnumber input {
        width: 100%;
    }
    .customer-address-form #form-validate .street,
    .opc #co-billing-form .street input,
    .opc #co-shipping-form .street input {
        width: 100%;
    }
    .customer-address-form #form-validate #street_2,
    .opc #co-billing-form .street2 input,
    .opc #co-shipping-form .street2 input {
        width: 100%;
    }*/
    .customer-address-form #form-validate #region_id,
    .customer-address-form #form-validate #country,
    .opc #co-billing-form .country select,
    .opc #co-billing-form .region select,
    .opc #co-shipping-form .country select,
    .opc #co-shipping-form .region select,
    .sales-order-history .limiter select,
    .checkout-cart-index #shipping-zip-form select,
    #billing-address-select,
    #shipping-address-select {
        height: 30px;
        /*margin: 10px 10px;*/
        font-family: Montserrat;
        padding: 4px 2px;
        color: #989898;
        border: 1px solid #989898;
        width: 98%;
    }
    .sales-order-history .limiter select,
    .checkout-cart-index #shipping-zip-form select {
        width: auto;
        margin: 0;
    }
    .opc #co-billing-form .billing-radio input,
    .opc #co-shipping-form .control input[type="checkbox"] {
        margin-left: 35px;
    }
    .opc #billing-new-address-form .control input[type="checkbox"] {
        margin-left: 10px;
    }
    .sales-order-view .buttons-set,
    .opc .buttons-set {
        padding-top: 20px;        
    }
    /*.customer-address-form .buttons-set button,
    .account-login .buttons-set button,
    .account-create .buttons-set button,
    .sales-order-view button,
    .sales-order-history button,
    .customer-account-edit button,
    .customer-account-confirmation #account-resend-confirmation .buttons-set button,
    .customer-address-index .my-account button,
    .customer-account-forgotpassword #form-validate button,
    .checkout-cart-index .col-main button,
    .checkout-onepage-success .buttons-set button,
    .opc .buttons-set*/ button {
        /*width: 120px;*/
        width: auto;
        height: 40px;
        border: 1px solid #989898;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #ff3300;
        cursor: pointer;
        font-family: Montserrat;
        padding-left: 15px;
        padding-right: 15px;
    }
    .customer-address-index .my-account button {
        width: auto;
    }
    .opc button.return {
        margin-left: 25px;
    }
    
    #review-buttons-container button.return {
        margin-left: 0;
    }
    
    /*.customer-address-form button.return,
    .sales-order-view button.return,
    .customer-account-edit button.return,
    .opc #review-buttons-container button.return,
    .customer-account-confirmation #account-resend-confirmation button.return,
    .customer-account-forgotpassword #form-validate button.return,
    .account-create*/ button.return {
        float: left;
        background-color: #d1d2d5;
        border: 1px solid #d1d2d5;
        color: #777;
        margin-left: 0;
    }
    .customer-address-form button.return,
    .customer-account-confirmation #account-resend-confirmation button.return,
    .customer-account-edit button.return,
    .customer-account-forgotpassword #form-validate button.return,
    .account-create button.return {
        margin-right: 20px;
    }
    /*.customer-address-form button.return:hover,
    .account-create button.return:hover,
    .sales-order-view button.return:hover,
    .customer-account-edit button.return:hover,
    .customer-account-confirmation #account-resend-confirmation button.return:hover,
    .customer-account-forgotpassword #form-validate button.return:hover,
    .opc*/ button.return:hover {
        color: #fff;
    }
    /*.customer-address-form button:hover,
    .account-login .buttons-set button:hover,
    .account-create .buttons-set button:hover,
    .sales-order-view button:hover,
    .sales-order-history button:hover,
    .customer-account-edit button:hover,
    .customer-account-confirmation #account-resend-confirmation .buttons-set button:hover,
    .customer-address-index .my-account button:hover,
    .customer-account-forgotpassword #form-validate button:hover,
    .checkout-cart-index .col-main button:hover,
    .checkout-onepage-success .buttons-set button:hover,
    .opc .buttons-set*/ button:hover {
        color: #000;
    }
    .opc button.continue {
        float: right;
        margin-right: 28px;
        margin-bottom: 30px;
    }
    /*.opc #shipping-method-buttons-container,
    .opc #payment-buttons-container {
        padding-top: 0;
    }*/
    .opc #co-shipping-method-form .sp-methods {
        text-transform: uppercase;
        margin-top: 20px;
    }
    .opc #co-shipping-method-form .sp-methods dd {
        margin-bottom: 8px;
    }
    .opc #co-shipping-method-form .sp-methods ul {
        list-style-type: none;
    }
    .opc #co-shipping-method-form .sp-methods .price {
        display: none;
    }
    .opc #co-payment-form .sp-methods dt {
        margin-left: 58px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .opc #co-payment-form .sp-methods img {
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
    }
    .opc .please-wait {
        float: right;
        margin-right: 10px;
        margin-top: 12px;
        vertical-align: middle;
    }
    .opc .please-wait img {
        vertical-align: middle;
        float: right;
        margin: 0 10px;
    }
    .opc #checkout-review-table {
        margin-left: 25px;
        border-top: 1px solid #989898;
        margin-top: 30px;
        width: 665px;
        font-size: 13px;
    }
    .opc #checkout-review-table th,
    .customer-account-index #my-orders-table thead th,
    .sales-order-history #my-orders-table thead th,
    .checkout-cart-index .cart-table thead th,
    .sales-order-view #my-orders-table thead th {
        border-right: 1px solid #989898;
        padding: 10px;
        color: #989898;
    }
    .opc #checkout-review-table thead tr {
        height: 52px;
        vertical-align: top;
    }
    .opc #checkout-review-table thead th {
        border-bottom: 1px solid #989898;
    }
    .opc #checkout-review-table td,
    .customer-account-index #my-orders-table tbody td,
    .sales-order-history #my-orders-table tbody td,
    .sales-order-view #my-orders-table tbody td,
    .checkout-cart-index .cart-table tbody td,
    .sales-order-view #my-orders-table tfoot td {
        border-right: 1px solid #989898;
    }
    .opc #checkout-review-table h3 {
        text-align: left;
        border-bottom: none;
        padding: 0;
    }
    #checkout-review-table .item-options ul {
        padding-left: 0;
        list-style-type: none;
    }
    .sales-order-view #my-orders-table tfoot tr,
    #checkout-review-table tfoot tr {
        background-color: #eee;
        text-align: right;
        height: 40px;
    }
    .sales-order-view #my-orders-table tfoot td,
    .checkout-cart-index .cart-table tfoot td,
    #checkout-review-table tfoot th,
    #checkout-review-table tfoot td {
        padding-right: 20px !important;
        border-top: 1px solid #989898;
    }
    #checkout-review-table tbody td {
        padding-top: 14px;
    }
    #checkout-review-table tbody td:nth-child(1) {
        padding-top: 0;
    }
    .sales-order-view #my-orders-table tfoot tr.last,
    .checkout-cart-index table thead tr,
    #checkout-review-table tfoot tr.last {
        background-color: #dbdbea;
        color: #989898;
    }
    #checkout-review-table tfoot tr.last .price,
    .sales-order-view #my-orders-table tfoot tr.last .price {
        color: #f30;
    }
    #checkout-review-table tfoot tr.last td {
        border-bottom: 1px solid #989898;
    }
    #checkout-review-table td.a-right.last {
        border-right: none;
    }
    #checkout-review-table tbody tr {
        vertical-align: top;
    }    
    #checkout-review-table thead th:nth-child(4),
    #checkout-review-table tbody td:nth-child(4),
    .customer-account-index #my-orders-table thead th:nth-child(6),
    .customer-account-index #my-orders-table tbody td:nth-child(6),
    .sales-order-history #my-orders-table thead th:nth-child(6),
    .sales-order-history #my-orders-table tbody td:nth-child(6),
    .checkout-cart-index table thead th:nth-child(7),
    .checkout-cart-index table tbody td:nth-child(7),
    .sales-order-view #my-orders-table thead th:nth-child(4),
    .sales-order-view #my-orders-table tbody td:nth-child(4) {
        border-right: none;
    }
    #checkout-review-table tbody td:nth-child(2) {
        text-align: right;
        padding-right: 1%;
        /*width: 150px;*/
    }
    #checkout-review-table tbody td:nth-child(3) {
        text-align: center;
    }
    #checkout-review-table tbody td.last {
        text-align: right;
        padding-right: 20px;
    }
    #checkout-review-submit .buttons-set {
        padding-top: 0;
        padding-left: 5px;
    }
    #checkout-review-submit {
        padding: 0 20px;
    }
    #checkout-agreements .agree input,
    #checkout-agreements .agree label {
        vertical-align: middle;
    }
    #review-buttons-container button.btn-checkout {
        float: right;
        margin: 10px;
    }
    #checkout-progress-wrapper {
        clear: both;
        display: none;
        margin-top: 64px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        border: 1px solid #989898;
    }
    .opc-block-progress a {
        float: right;
        text-transform: uppercase;
        text-decoration: none;
        color: #f30;
    }
    .opc-block-progress dt.complete {
        border-bottom: 1px solid #989898;
        padding-bottom: 4px;
    }
    .opc-block-progress dd.complete {
        margin: 4px 0 12px 0;
    }
    .opc-block-progress address {
        font-style: normal;
    }
    .opc-block-progress dd.complete p {
        padding: 0;
        margin: 0;
    }
    .opc #opc-review {
        border-bottom: none;
    }
    .opc-block-progress dl {
        margin: 0;
    }
    .opc .no-bold {
        font-weight: normal;
        font-size: 10px;
    }
    .account-login,
    .account-create {
        /*padding: 20px;*/
    }
    .account-login .col-2.registered-users {
        margin-top: 30px;
    }
    .account-login a {
        color: #989898;
    }
    
    .dashboard .logout {
        width: 100%;
        height: auto;
        text-align: right;        
    }
    
    /*.account-login h1,
    .account-create h1,
    .dashboard h1,
    .customer-account-confirmation #account-resend-confirmation h1,
    .customer-account-forgotpassword h1,
    .customer-account-logoutsuccess h1,
    .checkout-cart-index h1,
    .cms-versand .page-title h1,
    .checkout-onepage-success .page-title h1,
    .instantly-available h1,
    .my-account*/ h1 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 22px;
        color: #989898;

        margin-top: 0;
    }
    /*.cms-versand .page-title h1,
    .checkout-onepage-success .page-title h1,
    .checkout-cart-index h1,
    .my-account h1 {
        margin-top: 0;
    }*/
    /*.account-login h2,
    .account-create h2,
    .dashboard h2,
    .my-account h2,
    .customer-account-forgotpassword h2,
    .checkout-cart-index h2,
    .checkout-onepage-success h2,
    .customer-account-confirmation #account-resend-confirmation*/ h2 {
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        color: #989898;
    }
    .account-login .form-list,
    .account-create .form-list,
    .customer-account-confirmation #account-resend-confirmation .form-list {
        list-style-type: none;
        padding: 0;
    }
    .account-login .messages,
    .account-login .messages ul {
        list-style-type: none;
        padding-left: 10px;
    }
    .box-recent .box-head {
        margin-bottom: 20px;
    }
    /*#product_addtocart_form span.tax-details a,
    .sales-order-view .my-account a,
    .sales-order-history .my-account a,
    .customer-address-index .my-account a,
    .customer-account-login a,
    .checkout-cart-index .cart-empty a,
    .checkout-cart-index form table a,
    .checkout-cart-index ul.checkout-types a,
    .checkout-onepage-success a,
    .opc a,
    #products-no-filter-results a,
    .customer-account-index*/ * a {
        color: #737683;
    }
    /*#product_addtocart_form span.tax-details a:hover,
    .customer-account-login a:hover,
    .customer-address-index .my-account a:hover,
    .sales-order-view .my-account a:hover,
    .sales-order-history .my-account a:hover,
    .checkout-cart-index .cart-empty a:hover,
    .checkout-cart-index form table a:hover,
    .checkout-cart-index ul.checkout-types a:hover,
    .checkout-onepage-success a:hover,
    .opc a:hover,
    #products-no-filter-results a:hover,
    .customer-account-index*/ * a:hover {
        text-decoration: none;
        color: #535362;
    }
    .customer-account-index .welcome-msg {
        font-size: 13px;
    }
    .customer-account-index .hello {
        font-size: 16px;
    }
    .customer-account-index #my-orders-table,
    .sales-order-history #my-orders-table,
    .sales-order-view #my-orders-table {
        width: 100%;
        max-width: 900px;
        font-size: 14px;
        border: 1px solid #989898;
    }
    .customer-account-index #my-orders-table thead,
    .sales-order-history #my-orders-table thead,
    .sales-order-view #my-orders-table thead {
        background-color: #dbdbea;
    }
    .customer-account-index #my-orders-table tbody td,
    .sales-order-history #my-orders-table tbody td,
    .checkout-cart-index table tbody td,
    .sales-order-view #my-orders-table tbody td {
        border-top: 1px solid #989898;
    }
    .sales-order-history #my-orders-table thead th:nth-child(1),
    .sales-order-history #my-orders-table tbody td:nth-child(1),
    .customer-account-index #my-orders-table thead th:nth-child(1),
    .customer-account-index #my-orders-table tbody td:nth-child(1) {
        text-align: right;
    }
    .sales-order-history #my-orders-table thead th:nth-child(2),
    .sales-order-history #my-orders-table tbody td:nth-child(2),
    .customer-account-index #my-orders-table thead th:nth-child(2),
    .customer-account-index #my-orders-table tbody td:nth-child(2) {
        text-align: center;
    }
    .sales-order-history #my-orders-table thead th:nth-child(3),
    .sales-order-history #my-orders-table tbody td:nth-child(3),
    .checkout-cart-index table thead th:nth-child(2),
    .checkout-cart-index table tbody td:nth-child(2),
    .customer-account-index #my-orders-table thead th:nth-child(3),
    .customer-account-index #my-orders-table tbody td:nth-child(3) {
        text-align: left;
    }
    .sales-order-history #my-orders-table thead th:nth-child(4),
    .sales-order-history #my-orders-table tbody td:nth-child(4),
    .checkout-cart-index table thead th:nth-child(4),
    .checkout-cart-index table tbody td:nth-child(4),
    .checkout-cart-index table thead th:nth-child(6),
    .checkout-cart-index table tbody td:nth-child(6),
    .customer-account-index #my-orders-table thead th:nth-child(4),
    .customer-account-index #my-orders-table tbody td:nth-child(4) {
        text-align: right;
    }
    .sales-order-history #my-orders-table thead th:nth-child(5),
    .sales-order-history #my-orders-table tbody td:nth-child(5),
    .checkout-cart-index table thead th:nth-child(3),
    .checkout-cart-index table tbody td:nth-child(3),
    .checkout-cart-index table thead th:nth-child(5),
    .checkout-cart-index table tbody td:nth-child(5),
    .customer-account-index #my-orders-table thead th:nth-child(5),
    .customer-account-index #my-orders-table tbody td:nth-child(5) {
        text-align: center;
    }
    .sales-order-history #my-orders-table thead th:nth-child(6),
    .sales-order-history #my-orders-table tbody td:nth-child(6),
    .checkout-cart-index table thead th:nth-child(7),
    .checkout-cart-index table tbody td:nth-child(7),
    .customer-account-index #my-orders-table thead th:nth-child(6),
    .customer-account-index #my-orders-table tbody td:nth-child(6) {
        text-align: center;
    }
    .sales-order-history #my-orders-table tbody td:nth-child(5),
    .customer-account-index #my-orders-table tbody td:nth-child(5) {
        font-size: 12px;
    }
    #customer-account-categories {
        font-size: 14px;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        max-width: 572px;
        height: auto;
    }
    .customer-address-index address,
    #customer-account-categories address {
        font-style: normal;
        font-size: 12px;
        background-color: #d1d2d5;
        color: #000;
        padding: 6px;
        border: 1px solid #989898;
    }
    #customer-account-categories .customer-contact-info p {
        background-color: #d1d2d5; /*#afa;*/
        color: #000;
        padding: 6px;
        border: 1px solid #989898;
        font-size: 12px;
    }
    #customer-account-categories .customer-contact-info ul {
        list-style-type: none;
        padding: 0;
        padding-bottom: 8px;
    }
    #customer-account-categories .customer-contact-info li {
        float: left;
        padding-right: 20px;
    }
    .sales-order-view .order-info-box {
        overflow: hidden;
        font-size: 12px;
    }
    .sales-order-view .order-info-box .box {
        float: left;
        margin: 8px;
        overflow: hidden;
        border: 1px solid #989898;
    }
    .sales-order-view .order-info-box .box .box-title {
        background-color: #dbdbea;
        padding: 4px;
        border-bottom: 1px solid #989898;
    }
    .sales-order-view .order-info-box .box .box-content {
        padding: 4px;
    }
    .sales-order-view .order-info-box .box.box-payment p {
        margin: 0;
        }
    .sales-order-view .order-info-box address {
        font-style: normal;
    }
    .sales-order-view .order-info-box h2 {
        margin: 0;
        font-size: 14px;
    }
    .sales-order-view .order-items {
        clear: both;
    }
    .sales-order-view .order-items h2 {
        font-size: 16px;
    }
    .sales-order-view #my-orders-table tfoot td.last {
        border-right: none;
    }
    .sales-order-view #my-orders-table thead th:nth-child(1),
    .sales-order-view #my-orders-table tbody td:nth-child(1) {
        text-align: left;
    }
    /*.sales-order-view #my-orders-table thead th:nth-child(2),
    .sales-order-view #my-orders-table tbody td:nth-child(2) {
        text-align: left;
    }*/
    .sales-order-view #my-orders-table thead th:nth-child(2),
    .sales-order-view #my-orders-table tbody td:nth-child(2) {
        text-align: right;
    }
    .sales-order-view #my-orders-table thead th:nth-child(3),
    .sales-order-view #my-orders-table tbody td:nth-child(3) {
        text-align: center;
    }
    .sales-order-view #my-orders-table thead th:nth-child(4),
    .sales-order-view #my-orders-table tbody td:nth-child(4) {
        text-align: right;
    }
    .sales-order-view #my-orders-table th,
    .sales-order-view #my-orders-table td {
        font-size: 13px;
    }
    .sales-order-history .limiter {
        margin-bottom: 10px;
    }
    .customer-account-edit #change_password {
        margin-left: 10px;
    }
    .customer-address-index .col-2 {
        clear: both;
    }
    .customer-address-index .my-account ol {
        list-style-type: none;
    }
    .customer-address-index .my-account ol li {
        border: 1px solid #989898;
        padding: 0;
        padding-bottom: 10px;
    }
    .customer-address-index .my-account .item {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .customer-address-index .my-account .item h3 {
        margin: 0;
        background-color: #dbdbea;
        padding: 6px;
        font-size: 14px;
        border-bottom: 1px solid #989898;
    }
    .customer-address-index .my-account .item p {
        margin: 0;
        margin-left: 10px;
        margin-top: 6px;
        font-size: 12px;
    }
    .customer-address-index .my-account .buttons-set {
        clear: both;
    }
    .customer-address-index .my-account address {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .customer-address-form #primary_billing,
    .customer-address-form #primary_shipping {
        margin-left: 10px;
        vertical-align: middle;
    }
    .customer-address-form .caption {
        margin: 10px 0;
        font-size: 14px;
    }
    .customer-address-form ul li strong {
        margin-left: 40px;
        font-weight: normal;
        font-size: 13px;
    }
    .customer-address-form .control label {
        font-size: 14px;
        vertical-align: middle;
    }
    li.success-msg {
        background-color: #afa;
        padding: 10px;
        color: #000;
        width: 300px;
        font-size: 13px;
        border: 1px solid #989898;
    }
    li.success-msg ul {
        padding: 0;
    }
    .checkout-cart-index form fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
    .checkout-cart-index form table {
        border: 1px solid #989898;
        width: 100%;
    }
    .checkout-cart-index .item-options dd ul {
        padding: 0;
        font-size: 12px;
    }
    .checkout-cart-index table thead tr th {
        color: #989898;
    }
    .checkout-cart-index ul.checkout-types {
        padding: 0;
    }
    .checkout-cart-index #co-shipping-method-form .sp-methods dt {
        display: none;
    }
    .checkout-cart-index #co-shipping-method-form .sp-methods dd {
        margin: 0;
        border-bottom: 1px solid #989898;
    }
    .checkout-cart-index #co-shipping-method-form .sp-methods dd ul {
        padding: 0;
        margin: 6px;
    }
    .checkout-cart-index #co-shipping-method-form .sp-methods li input.radio,
    .checkout-cart-index #co-shipping-method-form .sp-methods li label {
        vertical-align: middle;
    }
    .checkout-cart-index #co-shipping-method-form .sp-methods li label {
        color: #000;
        font-size: 14px;
    }
    .checkout-cart-index #co-shipping-method-form .sp-methods li label span.price {
        float: right;        
        color: #989898;
    }
    .checkout-cart-index #co-shipping-method-form dl.sp-methods {
        width: 700px;
        margin-left: 12px;
        background-color: #d1d2d5; /*#afa;*/
        border-top: 1px solid #989898;
        border-left: 1px solid #989898;
        border-right: 1px solid #989898;
    }
    .checkout-cart-index #discount-coupon-form .input-box {
        margin: 12px;
        float: left;
    }
    .checkout-cart-index #discount-coupon-form .container .buttons-set {
        padding-top: 6px;
    }
    .checkout-cart-index .shipping {
        clear: both;
    }
    .checkout-cart-index #shipping-zip-form ul {
        padding: 0;
    }
    .checkout-cart-index #shipping-zip-form ul li {        
        float: left;
    }
    .checkout-cart-index .shipping-form select {
        margin-right: 8px !important;
    }
    .checkout-cart-index .shipping-form .input-box {
        margin-left: 12px;
    }
    .checkout-cart-index .shipping-form .input-box input {
        margin: 0;
    } 
    .checkout-cart-index .shipping-form .input-box #postcode {
        width: 60px;
    }
    .checkout-cart-index .cart-collaterals .totals {
        margin-top: 40px;
        margin-left: 12px;        
    }
    .checkout-cart-index #shopping-cart-totals-table {
        border-left: 1px solid #989898;
        border-right: 1px solid #989898;
        border-bottom: 1px solid #989898;
    }
    .checkout-cart-index #shopping-cart-totals-table tfoot tr td {
        border-top: 1px solid #989898;
        background-color: #dbdbea;
        color: #989898;
    }
    .checkout-cart-index #shopping-cart-totals-table tbody td:nth-child(1),
    .checkout-cart-index #shopping-cart-totals-table tfoot td:nth-child(1) {
        border-right: 1px solid #989898;
        text-align: right;
    }
    .checkout-cart-index #shopping-cart-totals-table tbody td:nth-child(2),
    .checkout-cart-index #shopping-cart-totals-table tfoot td:nth-child(2) {
        color: #989898;
        text-align: right;
    }
    .checkout-cart-index #shopping-cart-totals-table tfoot .price {
        color: #f30;
    }
    .checkout-cart-index ul.checkout-types {
        margin-left: -12px;
    }
    .checkout-cart-index .totals h2 {
        margin-left: -12px;
    }
    .checkout-cart-index ul.checkout-types li:nth-child(2) {
        margin-top: 12px;
        margin-left: 2px;
    }
    .checkout-cart-index .cart ul.messages {
        padding: 0;
    }
    .checkout-cart-index .cart .messages li ul {
        padding-left: 30px;
    }
    .checkout-cart-index .cart .messages li.error-msg {
        vertical-align: middle;
        border: 1px solid black;
        color: #fff;
        padding: 10px;
        background: #f30 url(../images/i_msg-error.png) no-repeat 10px center;
    }
    .cms-versand .std strong {
        color: #989898;
    }
    
    .bottom-navigation {
        padding-top: 40px;  
    }
    
    #products-no-filter-results {
        border: 1px solid #989898;
        padding: 20px;
        width: 320px;
        height: auto;
        overflow: hidden;
        margin: auto;
        display: none;
    }
    #products-no-filter-results h3 {
        font-size: 16px;
        text-transform: uppercase;
        color: #989898;
    }    
    #products-no-filter-results p {
        font-size: 14px;
        color: #989898;
    }
    #products-no-filter-results #perfect-chair-form {
        top: 160px;
        left: 876px;
    }
    #home-page .category-products {
    }
    .cms-sofort-lieferbar #products-list li {
        clear: both;
        border-bottom: 1px solid #989898;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .cms-sofort-lieferbar .item-wrapper {
        float: left;
    }
    .cms-sofort-lieferbar .item-info {
        margin-top: 80px;
        padding-left: 20px;
        float: left;
        position: relative;
        min-width: 580px;
    }
    .cms-sofort-lieferbar dl.item-configuration dt {
        padding-bottom: 8px;
    }
    .cms-sofort-lieferbar dl.item-configuration dd {
        border-bottom: 1px solid #989898;
        padding: 4px;
    }
    .cms-sofort-lieferbar dl.item-configuration dd:nth-last-child(1) {
        border-bottom: none;
    }
    .cms-sofort-lieferbar .item-configuration div {
        width: 200px;
        float: left;
    }
    .item-info .info {
        float: left;
    }
    .item-info .cart {
        float: left;
        position: absolute;
        bottom: 18px;
        right: 0;
    }
    .item-info .cart p.price {
        font-size: 16px;
        font-weight: bold;
        text-align: right;
    }
    
    .product-view .extras {
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-view .recently-viewed {
        padding-top: 40px;
    }
    
    /*
     * Beliebteste Konfigurationen
     */
    #bestsellers,
    #recently-viewed {
        overflow: hidden;
        font-size: 12px;
        margin: auto;
        position: relative;
        width: 100%;
        height: auto;
    }
    #bestsellers ul.items,
    #recently-viewed ul.items {
        list-style-type: none;
        margin: 0;
        margin-left: 0;
        padding: 0;
        position: relative;
    }
    #bestsellers ul.items > li,
    #recently-viewed ul.items > li {
        float: left;
        padding: 0;
        text-align: center;
    }
    #bestsellers > div.options > ul.items > li,
    #recently-viewed > div.options > ul.items > li {
        height: 38px;
        overflow: hidden;
    }
    #bestsellers > div.options span.item-name,
    #recently-viewed > div.options span.item-name {
        font-weight: bold;
        color: #f30;
    }
    #bestsellers div.previous,
    #bestsellers div.next,
    #recently-viewed div.previous,
    #recently-viewed div.next {
        position: absolute;
        width: 14px;
        top: 0;
        background-color: transparent;        
        float: none;
        padding: 0 1px;
        vertical-align: middle;
    }
    #bestsellers div.previous > span,
    #bestsellers div.next > span,
    #recently-viewed div.previous > span,
    #recently-viewed div.next > span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    #bestsellers div.previous > img,
    #bestsellers div.next > img,
    #recently-viewed div.previous > img,
    #recently-viewed div.next > img {
        vertical-align: middle;
        cursor: pointer;
    }
    #bestsellers > div.options,
    #recently-viewed > div.options {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-top: 1px solid #989898;
        border-bottom: 1px solid #989898;
    }
    #bestsellers > div.options > ul.items,
    #recently-viewed > div.options > ul.items {
        padding: 4px 0;
    }

    /*****/
    
    #pickup-info {
        position: absolute;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background-color: #fff;
        border: 1px solid #989898;
        display: none;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #pickup-info .left-column {
        margin-bottom: 20px;
    }
    
    .agreement-content {
        display: none;
    }
    
    .zoomContainer {
        z-index: 10;
    }    
    
}
