@media only screen and (max-width: 380px) {
    .option-details .template-option {
        width: 100% !important;
    }
    
    .page-header > span {
        font-size: 14px !important;
    }       
}

@media only screen and (min-width: 363px) and (max-width: 480px) {
	
    
    .opc #co-shipping-method-form .sp-methods dd {
        margin-left: 0;
    }
    
    #home-page .wrapper {
        display: none;
    }
    
    .col-left .header-container { position: fixed; top: 0; left: 0; width:69px; height:71px; width: 100%; z-index: 101;background: none repeat scroll 0 0 #fff;}
    .col-left .header-container .header { width:80px; height:inherit; display: table-cell; vertical-align: middle; text-align:right; z-index:10; } 
    .col-left, #top_navigation {width: 363px;}
    .navigation-contact-box, .bottom-navigation {position: fixed; bottom: 0; z-index: 101;}
    .col-main #cart-overlay {
        width: 89%;
        border: 3px solid #d2d2d5;
        font-size: 12px;
    }
    #mobile-navicon{display: block}
    #shopinfo-container #shopinfo-wrapper{left: 152.5px;}
    div#top_navigation{ height: 40px !important; }
    
    /*.small-visible{display: block!important; color:#97979F;font-size: 15px;padding: 18px 0px 16px 0px; float: right; margin-top: 32px; width: 145px; cursor: pointer; z-index: 100;position: relative;}*/
    .hauptmenu-icon {
    	background: url("../images/menu-icon-small.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    	border: 1px solid #D1D2D5;
    	display: inline-block;
    	height: 28px;
    	margin: 0 0 0 12px;
    	width: 28px;
    	vertical-align: top;
    }
    .header-container { background: none repeat scroll 0 0 #fff; height: 71px;left: 15px;position: fixed;top: 0;width: 100%;z-index: 100;}
    
     .about_us, .showroom {width: 41.4%;}
    
    #shopinfo-container #shopinfo-details {width: 361px; left: -152px; border-right: 1px solid #D1D2D5; border-top: 1px solid #D1D2D5; height: 82px; margin-top: -20px;}
    #shopinfo-container #details-1 {margin-left: 0px;}
    #shopinfo-container #details-4 {border-right: none;}
    #shopinfo-container #details-1, #shopinfo-container #details-3{width: 49.5%;}
    #shopinfo-container #details-2, #shopinfo-container #details-4{width: 49.8%;}
    #shopinfo-container #shopinfo-details div {border-bottom: 1px solid #D1D2D5; }
    
    #products-list {overflow: visible;}
    
    .header-container .header { width: 93px }
   
    .page-header > span {
        font-size: 16px;
    }
   
   /* #top_navigation .login, #top_navigation .header_cart {
    border: medium none !important;
    height: 40px;
    padding: 0;
    position: fixed !important;
    top: 0;
    right: 0;
    width: 40px !important;
    }*/
    #top_navigation .login {
        right: 41px;
    }
    
    .nav-container {
        background-color: #fff;
        border-right: 1px solid #D1D2D5;
        display: none;
        left: 0;
        position: fixed;
        width: 100%;
        max-width: 210px;
        z-index: 10;
        max-height: 278px;
        overflow: hidden;
        overflow-y: auto;
        border-bottom: 1px #d1d2d5 solid;
    }
    
    #top_navigation .about_us {
        margin-left: 40px;
    }
    
    #top_navigation .showroom {
        border-left: 1px solid #fff;
    }
    .top-navigation li{
	    padding-left: 10px;
	    padding-right: 10px;
    }
    .content-container { margin-top: 20px;}
     /*html.responsejs body.cms-index-index div.wrapper div.page div.main-container div#main-box.main div.col-left div.header-container div.header a.logo img{ height: auto; top: -70px;}*/
}