@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	/*.col-main{width: 724px!important; display: block} 
	.page {max-width: 918px!important}
	.last-wrapper{width:724px!important}
	.last-wrapper div{float:left; display: block; position: relative}
	#home-page .last-wrapper div:nth-child(2) img{ margin-left: 362px}
	#home-page .last-wrapper div:nth-child(3) img,
	#home-page .last-wrapper div:nth-child(3) img.hover {top: 203px;left:-362px }*/
	/*#bottom-nav {margin-top: 25px;}*/
	/*#shopinfo-container #shopinfo-wrapper{left: 333px;}
	#shopinfo-container, #top_navigation{width: 724px!important}*/

    #product-container div.col_middle {
        display: none;
    }
    /*-------------------- About Us Page Items resizing----------------------------*/
    #about-us .right-column {min-width: 535px;}
}