@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import 'styles_1920.css';
@import 'styles_320.css';
@import 'styles_362.css';
@import 'styles_480.css';
@import 'styles_555.css';
@import 'styles_917.css';
@import 'styles_1024.css';
@import 'styles_1280.css';

body {
    background-color: #fff;
    font-family: Montserrat, Sans Serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    padding: 0;
    margin: 0;
}

body img {
    border: 0;
}

div.responsive-wrapper {
    padding: 0 !important;
}

.h-first {
    margin-top: 0;
}

.modalBlocker {
    position: fixed; 
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.6;
    -ms-filter:'alpha(opacity=60)';
    filter:alpha(opacity=60); 
    display:none;
    z-index: 1;
}
 

/* Startseite */
#home-page {
    width: auto;
    height: auto;
    position: relative;
    /*z-index: 0;*/
}

/* Produktseite */
#messages_product_view .messages .success-msg {
    display: none;
}
  /*Main Menu*/
.small-visible{display: none;}