/*
    320 Pixel (iPhone Hochformat)
*/
@media only screen and (max-width: 321px) {
    .page {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    
    #home-page .wrapper, .last-wrapper {
        display: none;
    }

    /* Base Columns */
    .col-left { width: 100%; height: 71px !important; position: relative !important;} 
    .col-main { float:left; width:100%; padding: 0; border: none; margin-left: 0; margin-bottom: 0; margin-top: 0} 

    /* Header */
    .col-left .header-container { position: fixed; top: 0; left: 0; width:69px; height:71px; width: 100%; z-index: 101;background: none repeat scroll 0 0 #fff; }
    .col-left .header-container .header { width:80px; height:inherit; display: table-cell; vertical-align: middle; text-align:right; z-index:10; } 
    .col-left .logo { float:left; width:inherit; height: 39px; }
    
    /* Main Menu */
    .col-left .navigation-contact-box {
        display: none;
    }
    
    .col-main .header > span { font-size: 14px; }
    
    /* Navigation */
    .nav-container {
        position: fixed;
        top: 111px;
        left: 0px;
        z-index: 10;
        display: none;
        border-right: 1px solid #d1d2d5;
        background-color: #fff;
        width: 100%;
        max-height: 278px;
        max-width: 210px;
        overflow-y: scroll;
        border-bottom: 1px #d1d2d5 solid;
    }
    #mobile-navicon {
        display: block;
        position: fixed;
        left: 0;
        top: 71px;
        z-index: 102;
    }    
    
    /* Top Navigation */
    #top_navigation {
        width: 100%;
        margin-top: 71px;
        position: fixed;
        z-index: 101;
    }
    #top_navigation div {
    }
    #top_navigation .wrapper {
        text-align: center;
        height: 28px;
        padding-top: 12px; 
        padding-left: 0;
        padding-right: 0;
    }
    #top_navigation img {
    }
    #top_navigation .border-right {
        border: none;
    }
    #top_navigation .about_us {
        margin-left: 40px;
        width: 100px!important;
    }
    #top_navigation .showroom {
        border-left: 1px solid #fff;
        width: 121px!important;
    }
    #top_navigation .login,
    #top_navigation .header_cart,
    #top_navigation .account  {
        position: fixed!important;
        top: 0;
        right: 0;
        width: 40px !important;
        height: 40px;
        border: none !important;
        padding: 0;
    }
    #top_navigation .login {
        right: 41px;
    }
    #top_navigation .account { right: 82px; }
    .top-navigation li {
	    padding-left: 10px;
	    padding-right: 10px;
    }
    
    /* Shop Info Header */
    #shopinfo-container {
        height: 28px;
        margin-top:0;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        width: 90%!important;
    }
    #shopinfo-container #shopinfo-wrapper {
        width: 44px;
        height: 24px;
        margin-top: -20px;
        left: 128px;
    }
    #shopinfo-container #shopinfo-box {
        width: 24px;
        height: 21px;
        padding-top: 3px;
        line-height: 21px;
    }    
    #shopinfo-container #shopinfo-details {
        width: 285px;
        height: 26px;
        left: -120px;
        top: 0px;
        font-size: 9px;
        border-top: 1px solid #D1D2D5;
    }
    #shopinfo-container #shopinfo-details div {
        float: left;
        border-left: 1px solid #d1d2d5;
        border-bottom: 1px solid #d1d2d5;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 6px;
        height: 18px;
        background-color: #fff;
        text-align: center;
        width: 46.6%;
    }
    #shopinfo-container #details-1 {
        margin-left: 0;
    }
    #shopinfo-container #details-2 {
        width: auto;
        border-right: 1px solid #D1D2D5;
    }
    #shopinfo-container #details-3 {
        width: auto;
    }
    #shopinfo-container #details-4 {
        width: auto;
        border-right: 1px solid #d1d2d5;
    }
    #shopinfo-container #details-4 img {
        margin-top: -6px;
    }    
    
    /* Product Images */
    #products-list {
        /*padding-left: 20px;*/
    }
    #products-list .item-wrapper {
        width: 150px;
        height: 150px;
    }
    #products-list .item-overlay {
       width: 150px;
        height: 150px;
    }    
    
    
    /* Cart Hover */
    
    
/*    #cart-sidebar .item .product-details {
        float: left;
        margin-top: -20px;
        width: 190px;
        text-align: left;
    }    
    #cart-sidebar .item .product-change {
        width: auto;
        height: 19px;
        margin-top: 4px;
        text-align: right;
    }
    #cart-sidebar .item .product-options {
        font-size: 11px;
        width: auto;
    }
    #cart-sidebar .item .product-price {
        width: auto;
        text-align: right;
        color: #52525e;
    }*/
    
    .opc #co-shipping-method-form .sp-methods dd {
        margin-left: 0;
    }
    .opc #co-payment-form .sp-methods dt {
        margin-left: 15px;
    }
    
    .opc .step-title h2 {
        font-size: 12px;
        padding-top: 12px;
    }
    
    .opc #payment_form_bankpayment {
        margin: 0;
        padding: 0;
    }
    
    .navigation-contact-box, .bottom-navigation{position: fixed; bottom: 0; z-index: 101; width: 100%; height: 55px; padding-top: 25px;}
    .page, .col-main, #products-list, ul li{overflow: hidden;}
   
    .content-container { margin-top: 70px; margin-bottom: 100px; padding: 0; padding-left: 10px; padding-right: 10px; }
    
    .bottom-navigation, #bottom-nav {background-color: #a9a9b0; }
    #bottom-nav{text-align: left;}
    #bottom-nav #bottom-links a {color: #ffffff;}
    
    #bottom-nav #social-icons, #bottom-nav #bottom-links{height:60px;}
    #bottom-nav #social-icons { float: right;}
    #bottom-nav #bottom-links { float: left; clear: none; margin-top: -20px; padding-left: 15px;}
    #products-list li {margin-left: 0;}
}

@media only screen and (max-width: 360px) {
	#products-list .item-wrapper {
        width: 150px;
        height: 150px;
    }
    #products-list .item-overlay {
       width: 148px;
       height: 148px;
    }
	/*#products-list li {margin-left: 20px;}*/

    #products-list .item-overlay-info {
        width: 148px;
        height: 65px;
        left: 0px;
        top: 64px;
        padding: 0;
        font-weight: normal;
        font-size: 12px;
    }
    #products-list .item-overlay-product-name { font-size: 13px; padding-top: 5px; }
    #products-list .item-overlay-product-configurate {
        position: relative;
        bottom: -10px;
        padding: 0;
    }
    #products-list .item-overlay-product-configurate > a > img {
        width: 120px;
    }    
	
    .col-main #cart-overlay {
        border: 1px solid #d2d2d5;
        font-size: 12px;
        width: 89%;
        height: auto;
        top: 40px;
        right: 0;
        padding: 10px;
    }

    .opc .step-title h2 {    
        font-size: 12px;
        padding-top: 12px;
    }
	
    #top_navigation li a {
        background: #535362;
    }
    #top_navigation li.login a,
    #top_navigation li.header_cart a {
        background: #737683;
    }
    #top_navigation li.active a {
        background: #d1d2d5;
    }
    
    /*-------------------- About Us Page Items resizing----------------------------*/
    #about-us .right-column{min-width: 300px;}  
    
}
