@media only screen and (min-width: 322px) and (max-width: 362px) {
	
    .page, .col-main, #products-list, ul li{overflow: hidden;}
    .products-list li {max-width: 100%;}
    #home-page .wrapper, .last-wrapper {
        display: none;}
    .navigation-contact-box, .bottom-navigation{position: fixed; bottom: 0; z-index: 101; width: 100%; height: 55px; padding-top: 25px;}
	    .col-main {padding: 0; border: none; margin-top: 37px; margin-left: 0; float:left; width: 100%;}/*Changed*/
    .col-left, #top_navigation {width: 100%;}/*Changed*/
    .navigation-contact-box{display: none}/*Break here */
    .col-main #cart-overlay {
        width: 89%;
        top: 40px;
        border: 1px solid #d2d2d5;
        font-size: 12px;
    }/*Changed*/
    #mobile-navicon{display: block; left: 0; position: fixed; top: 71px; z-index: 102;}
    #shopinfo-container #shopinfo-wrapper{left: 130.5px; margin-top: -30px;}/*Changed*/
    #shopinfo-container{ margin-top: 0 }/*Changed*/
    #top_navigation {height: 40px; position: fixed; margin-top: 71px; z-index: 101}
    
    .col-main .header > span { font-size: 14px; }
    
    .hauptmenu-icon {
    	background: url("../images/menu-icon-small.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    	border: 1px solid #D1D2D5;
    	display: inline-block;
    	height: 28px;
    	margin: 0 0 0 12px;
    	width: 28px;
    	vertical-align: top;
    }
    .col-left { width: 0; height: 71px!important; position: relative!important;} 
    .col-left .header-container { position: fixed; top: 0; left: 0; width:69px; height:71px; width: 100%; z-index: 101;background: none repeat scroll 0 0 #fff;}
    .col-left .header-container .header { width:80px; height:inherit; display: table-cell; vertical-align: middle; text-align:right; z-index:10; } 
    .col-left .logo { float:left; width:inherit; height: 39px; }
    #top_navigation .about_us, #top_navigation .showroom {width: 40.3%;}/*Changed*/
    
    #shopinfo-container #shopinfo-details {width: 321px; /*Changed*/ left: -130px;/*Changed*/ border-right: 1px solid #D1D2D5; border-top: 1px solid #D1D2D5; height: 82px; margin-top: -60px;}
    #shopinfo-container #details-1 {margin-left: 0px;}
    #shopinfo-container #details-4 {border-right: none;}
    #shopinfo-container #details-1, #shopinfo-container #details-3{width: 49.5%;}
    #shopinfo-container #details-2, #shopinfo-container #details-4{width: 49.8%;}
    #shopinfo-container #shopinfo-details div {border-bottom: 1px solid #D1D2D5;}
    
    .product-image img {max-width: 100%; height: auto;}

    /*#products-list .item-overlay, #products-list .item-wrapper { height: 321px }*/
    #home-page .category-products{padding-left: 0;}
	
	#top_navigation .login, #top_navigation .header_cart, #top_navigation .account {
        border: medium none !important;
        height: 40px;
        padding: 0;
        position: fixed !important;
        top: 0;
        right: 0;
        width: 40px !important;
    }
    #top_navigation .login {
        right: 41px;
    }
    #top_navigation .account { right: 82px; }
    
    .nav-container {
    background-color: #FFFFFF;
    border-right: 1px solid #D1D2D5;
    display: none;
    left: 0;
    position: fixed;
    top: 111px;
    width: 100%;
    z-index: 10;
    max-height: 278px;
    max-width: 210px;
    overflow-y: scroll;
    border-bottom: 1px #d1d2d5 solid;
    }
    #top_navigation .about_us {
    margin-left: 40px;
    
    }
    #top_navigation .showroom {
        border-left: 1px solid #fff;
        
    }
    .top-navigation li{
	    padding-left: 10px;
	    padding-right: 10px;
    }
    
    .bottom-navigation, #bottom-nav {background-color: #a9a9b0; }
    #bottom-nav{text-align: left;}
    #bottom-nav #bottom-links a {color: #ffffff;}
    
    #bottom-nav #social-icons, #bottom-nav #bottom-links{height:60px;}
    #bottom-nav #social-icons { float: right;}
    #bottom-nav #bottom-links { float: left; clear: none; margin-top: -20px; padding-left: 15px;}
    #products-list .item-overlay-product-configurate{ margin: auto; }
    .page {margin-bottom: 85px;}
    .content-container {margin-top: 20px; }
    /*-------------------- About Us Page Items resizing----------------------------*/
     #about-us .right-column{min-width: 300px;}
     #about-us .header{display: block;}
}