<?php
/**
 * One page checkout payment methods
 *
 * @see Mage_Checkout_Block_Onepage_Payment_Methods
 */
?>
<?php $billsafe = false; ?>

<dl class="sp-methods" id="checkout-payment-method-load">
    <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
        <?php if (AwHh_Billsafe_Model_Payment::CODE == $_code) $billsafe = true; ?>
        <?php $code_is_billsafe = (substr($_code, 0, 8) == "billsafe"); ?>
        <dt>
        <?php if (sizeof($this->getMethods()) >= 1 || $code_is_billsafe): ?>
            <?php if ($code_is_billsafe): ?>
                <?php if ($_code == "billsafe"): ?>
                    <?php if ($_method->getHasError() == false) : ?>
                        <input value="billsafe" id="p_method_<?php echo $_code ?>" type="radio" name="payment[method]" onclick="payment.switchMethod('<?php echo $_code ?>')" class="radio" />
                    <?php endif; ?>
                <?php else: ?>
                    <?php if ($_method->getHpIsAvailable()): ?>
                        <input value="billsafe_installment" id="p_method_<?php echo $_code ?>" type="radio" name="payment[method]" onclick="payment.switchMethod('<?php echo $_code ?>')" class="radio" />
                    <?php endif; ?>
                <?php endif; ?>
            <?php else: ?>
                <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if ($this->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?> class="radio" />
            <?php endif; ?>            
        <?php else: ?>
            <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
        <?php endif; ?>
        <?php if ($code_is_billsafe): ?>
            <?php if ($_code == "billsafe"): ?>
                <?php if ($_method->getHasError() == false) : ?>
                    <label for="p_method_<?php echo $_code ?>">
                        <?php #echo $this->getMethodLabelAfterHtml($_method) ?>                        
                        <?= $this->__("Rechnung"); ?>
                        <?php echo $this->getBillsafeText(); ?>
                    </label>
                <?php else: ?>
                    <div style="margin-left:20px">
                        <label for="p_method_<?php echo $_code ?>">
                            <?php #echo $_method->getMethodTitleIfError(); ?>
                            <?= $this->__("Rechnung"); ?>
                        </label>
                    </div>
                <?php endif; ?>
            <?php else: ?>
                <?php if ($_method->getHpIsAvailable()): ?>
                    <label for="p_method_<?php echo $_code ?>">
                        <?php #echo $_method->getMethodTitle() ?><br/>
                        <?php #echo $this->getMethodLabelAfterHtml($_method) ?>
                        <label for="payment_method_<?= $code ?>">
                            <?= $this->__("Ratenkauf"); ?>
                            <br/>
                            <p style="margin-left:20px;font-weight:normal">
                                <?php echo $_method->getBillsafeText() ?>
                            </p>
                        </label>
                    </label>
                <?php else: ?>
                    <div style="margin-left:20px">
                        <label for="p_method_<?php echo $_code ?>">
                            <?php #echo $_method->getMethodTitle() ?>
                            <?php #echo $this->getMethodLabelAfterHtml($_method) ?><br/>
                            <?= $this->__("Ratenkauf"); ?>
                            <br/>
                            <p style="font-weight:normal">
                                <?php echo $_method->getHpMessage(); ?>
                            </p>
                        </label>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php else: ?>
            <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
        <?php endif; ?>

        </dt>
        <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
            <dd>
                <?php echo $html; ?>
            </dd>
        <?php endif; ?>
    <?php endforeach; ?>
</dl>

<?php if (!$billsafe) : ?>
    <p style="margin-top: 25px;"><?php echo $this->getBillsafeLogo(); ?></p>
    <?php echo $this->__('BillSAFE payment is not available for this order'); ?>
<?php endif; ?>

<?php echo $this->getChildChildHtml('additional'); ?>
<script type="text/javascript">
                            //<![CDATA[
<?php echo $this->getChildChildHtml('scripts'); ?>
                            payment.init();
                            //]]>
</script>

<?php if (Mage::helper("billsafe")->openInLayer()): ?>
    <script>
        //console.log("Billsafe neuladen");
        formElement = document.getElementById('co-payment-form');
        formElement.action = "<?php echo Mage::getUrl("billsafe/payment/gettoken/", array("_secure" => ($_SERVER["HTTPS"] == "on" ? true : false))); ?>?layeredPaymentGateway=1";
        lpg = new BillSAFE.LPG.client({
            form: formElement,
            conditions: {
                invoice:
                        [{element: 'payment[method]', value: 'billsafe'}],
                installment:
                        [{element: 'payment[method]', value: 'billsafe_installment'}]
            },
            sandbox: <?php echo Mage::helper("billsafe")->isSandbox(); ?>

        });
    </script>
<?php endif; ?>